#if ( $hostel )
<div style="font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold;margin-bottom:10px">
<a href="javascript:void(0)" onclick="doDivAjaxCall3$formname('divHostel','listHostels','')">Hostel</a>: $hostel.name
</div>
#end
#if ( $building )
<div style="font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold;margin-bottom:10px;margin-left:20px">
<a href="javascript:void(0)" onclick="doDivAjaxCall3$formname('divHostel','listBuildings','hostelId=$hostel.id')">Building</a>: $building.name
</div>
#end
#if ( $block )
<div style="font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold;margin-bottom:10px;margin-left:40px">
<a href="javascript:void(0)" onclick="doDivAjaxCall3$formname('divHostel','listBlocks','buildingId=$building.id')">Block</a>: $block.name
</div>
#end
#if ( $floor )
<div style="font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold;margin-bottom:10px;margin-left:60px">
<a href="javascript:void(0)" onclick="doDivAjaxCall3$formname('divHostel','listFloors','blockId=$block.id')">Floor</a>: $floor.name

#if ( $floor.floorPlanImageId )
	[
	<a href="javascript:void(0)" onclick="$('divViewFloorPlan').style.display='block';$('titleViewFloorPlan').innerHTML='$!floor.name';document.getElementById('imgFloorPlan').src='../servlet/educate.sis.module.FloorPlanImgServlet?id=$!floor.id&floorPlanImageId=$!floor.floorPlanImageId';">View Floor Plan</a>
	]
#else
	N/A
#end
</div>
#end
#if ( $unit )
<div style="font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold;margin-bottom:10px;margin-left:80px">
<a href="javascript:void(0)" onclick="doDivAjaxCall3$formname('divHostel','listUnits','floorId=$floor.id')">
Unit</a>: $unit.name #if ( $unit.gender == 1 ) (Male) #elseif ( $unit.gender == 2 ) (Female) #end
</div>
#end