<input type="hidden" id="totalCnt" value="$totalCnt">

<table style="background:#BFBFBF">
<tr>
<td colspan="11" align="right">
<input type="checkbox" name="clearData" value="yes" checked>Clear Data&nbsp;&nbsp;

#if ( $totalCnt > 0 )
<input class="linkbutton" type="button" value="RUN IMPORT PAYMENT..." onclick="doDivAjaxCall$formname('result_1','saveItem','cnt=1&totalCnt=$totalCnt')">
#else
<input class="linkbutton" type="button" value="RUN IMPORT PAYMENT..." onclick="doDivAjaxCall$formname('result_1','saveItem','cnt=1&totalCnt=0')">
#end

</td>
</tr>
<tr style="height:30px;background:#DBDBDB">
<td style="width:50px" align="center">&nbsp;</td>
<td style="width:150px" align="center">Matric No</td>
<td style="width:150px" align="center">Receipt No</td>
<td style="width:150px" align="center">Receipt Date</td>
<td style="width:150px" align="center">Payment Description</td>
<td style="width:150px" align="center">Payment Mode</td>
<td style="width:150px" align="center">Check No</td>
<td style="width:150px" align="center">Bank</td>
<td style="width:150px" align="center">Amount</td>
<td style="width:150px" align="center"></td>
</tr>
#set ( $cnt = 0 )
#foreach( $i in $items )
#set ( $cnt = $cnt + 1 )
<tr style="height:25px;background:#fff">
<td align="center">$cnt.</td>
<td align="center">$i.matricNo</td>
<td align="center">$i.itemNo</td>
<td align="center">$i.itemDate</td>
<td align="center">$i.itemDescription</td>
<td align="center">$i.paymentMode</td>
<td align="center">$i.checkNo</td>
<td align="center">$i.bankName</td>
<td align="center">$i.amount</td>
<td align="center"><div id="result_$cnt"></div></td>
</tr>
#end
</table>
#set ( $cnt = $cnt + 1 )
<div id="result_$cnt"></div>