<link rel="stylesheet" type="text/css" media="all" href="../js/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="../js/jsDatePick.min.1.3.js"></script>
<link rel="stylesheet" href="../style/style.css" type="text/css" media="screen" />

<style>
#divFindStudent {
    position:fixed;
    top: 30%;
    left: 25%;
    width:600px;
    margin-top: -100px;
    border: 1px solid #ccc;
    padding:3px;
    background:#E8ECEF;
    display:none;
}
</style>

<div id="divFindStudent" class="shadow">
	<table width="100%" style="background:#357FF4"><tr style="height:30px"><td style="font-weight:bold;color:#FFF">Find</td>
	<td align="right"><input type="button" class="linkbutton" value="Find" onclick="$('iframeFindStudent').src='../gc/educate.sis.module.FindStudentByNameModule?elementId=student_no'"><input class="linkbutton" type="button" value="Close" onclick="$('divFindStudent').style.display='none'"></td></tr></table>
	<div id=""><iframe id="iframeFindStudent" src="../gc/educate.sis.module.FindStudentByNameModule?elementId=student_no" frameborder="0" style="width:100%;height:250px"></iframe></div>
</div>
	



<div style="padding:10px">

<table width="100%"><tr><td>
No. Matric: <input name="student_no" id="student_no" value="$!student.matricNo" style="width:200px;height:35px">

<button type="button" class="btn btn-primary" onclick="if ( $('student_no').value == '' ) return; doDivAjaxCall$formname('divData', 'get_student_by_matric','')">Get Student</button>
	
<button type="button" class="btn btn-success" onclick="$('divFindStudent').style.display='block';">Find..</button>


<div id="divData"></div>

</div>



