<input type="hidden" name="paymentScheduleId" value="$paymentSchedule.id">


<input type="hidden" name="ptptnScheduleId" value="$ptptnPaymentSchedule.id">
<input type="hidden" name="debitNoteScheduleId" value="$debitNoteSchedule.id">
<input type="hidden" name="hostelPaymentScheduleId" value="$!hostelPaymentSchedule.id">
<input type="hidden" name="resourceFeePaymentScheduleId" value="$resourceFeePaymentSchedule.id">
<input type="hidden" name="semesterPaymentScheduleId" value="$semesterPaymentSchedule.id">

	


<div style="padding:10px">
	
	<div id="studentInfo" style="border:1px solid #000;margin:15px">
		#parse("apps/finance/studentPaymentSchedule/studentInfo.vm")
	</div>
	
	<div id="firstPayment" style="margin:15px">
		#parse("apps/finance/studentPaymentSchedule/firstPayment.vm")
	</div>
	
	<div id="paymentScheduleMain" class="col-md-7">
		#parse("apps/finance/studentPaymentSchedule/paymentScheduleMain.vm")
	</div>
	
	<input type="hidden" id="selectedTab" name="selectedTab" value="$!selectedTab">

	
	<div class="col-md-5">
	
		<div style="padding:10px">
		<table>
			<tr>
				<td id="tab1" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '1' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(1)">Flexi</a></td>
				<td id="tab2" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '2' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(2)">PTPTN</a></td>
				<td id="tab3" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '3' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(3)">Resource Fee</a></td>
				<td id="tab4" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '4' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(4)">Semester Fee</a></td>
				
				<td id="tab6" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '6' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(6)">Credit Note</a></td>
				<td id="tab5" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '5' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(5)">Misc. Fee</a></td>
				
				##<td id="tab7" style="padding:5px;border-right:1px dotted #000;#if ( $selectedTab == '7' ) font-weight:bold;#end" align="center"><a href="javascript:void(0)" onclick="selectTab(7)">Credit Note</a></td>
			</tr>
		</table>
		
		</div>
		
		
		<div id="listPaymentSchedule_Flexi"   #if ( $selectedTab == "1" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
    	#parse("apps/finance/studentPaymentSchedule/listPaymentSchedule_Flexi.vm")
    	</div>
		
		<div id="paymentSchedulePTPTN"  #if ( $selectedTab == "2" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
    	#parse("apps/finance/studentPaymentSchedule/paymentSchedulePTPTN.vm")
    	</div>
		
		<div id="paymentScheduleResourceFee"  #if ( $selectedTab == "3" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
			#parse("apps/finance/studentPaymentSchedule/paymentScheduleResourceFee.vm")
		</div>
		
		
		
		
		
		<div id="paymentScheduleSemester"  #if ( $selectedTab == "4" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
			#parse("apps/finance/studentPaymentSchedule/paymentScheduleSemester.vm")
		</div>
		
		<div id="paymentScheduleHostel"  #if ( $selectedTab == "5" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
			#parse("apps/finance/studentPaymentSchedule/paymentScheduleHostel.vm")
		</div>
		
		<div id="paymentDebitNote"  #if ( $selectedTab == "6" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
			#parse("apps/finance/studentPaymentSchedule/paymentDebitNote.vm")
		</div>
		
		
		<div id="paymentCreditNote"  #if ( $selectedTab == "7" ) style="margin-bottom:40px;display:block" #else style="margin-bottom:40px;display:none" #end>
			##parse("apps/finance/studentPaymentSchedule/paymentCreditNote.vm")
		</div>
    	
	</div>
	<br/><br/><br/>
	<div style="text-align:right">
		<div id="deletePaymentSchedule" style="display:block">
			<a href="javascript:void(0)" onclick="$('deletePaymentSchedule').style.display='none'; $('confirmDeletePaymentSchedule').style.display='block';">Delete this payment schedule</a>
		</div>
		<div id="confirmDeletePaymentSchedule" style="display:none;color:#ff0000;font-weight:bold">
		WARNING! ARE YOU SURE TO DELETE THIS PAYMENT SCHEDULE? ALL DATA WILL BE LOST!!!
		(<a href="javascript:void(0)" onclick="if ( !confirm('DELETE THIS PAYMENT SCHEDULE?') ) return; doDivAjaxCall$formname('getPaymentSchedule','deletePaymentSchedule','paymentScheduleId=$paymentSchedule.id');$('deletePaymentSchedule').style.display='block'; $('confirmDeletePaymentSchedule').style.display='none';">
		YES
		</a>
		)(
		<a href="javascript:void(0)" onclick="$('deletePaymentSchedule').style.display='block'; $('confirmDeletePaymentSchedule').style.display='none';">
		NO
		</a>
		)
		</div>
	</div>

</div>

