


<div style="padding:10px;font-weight:bold;border:1px solid #000">
	
	<table style="width:100%">
		<tr>
			<td style="font-weight:bold">Misc. Payment Schedule</td>
			<td align="right">
				##<input type="button" class="linkbutton" value="Create"  onclick="doDivAjaxCall$formname('divMakePayment','createHostelPaymentSchedule','')">
			</td>
		</tr>
	</table>
	
</div>


<div id="listSemesterFee">
#parse("apps/finance/studentPaymentSchedule/listHostelPaymentScheduleItems.vm")
</div>

<div>
	
	<table style="width:100%"><tr><td align="right">
	
    <table>
    	<tr style="height:30px;background:#AEB1B2">
    		<td style="width:20px"></td>
    		<td style="width:100px">Date Due</td>
    		<td style="width:100px" align="center">Amount Due</td>
    		<td style="width:50px"></td>
    	</tr>
    	
    	<tr style="height:30px">
    		<td></td>
    		
    		<td>
    			<input class="texts" name="dateDueHostel" id="dateDueHostel">
    			<script> new JsDatePick({ useMode:2, target:"dateDueHostel", dateFormat:"%d-%m-%Y" }); </script>
    		</td>
    		
    		<td><input class="texts" name="amountDueHostel"></td>
    			
    		<td align="center">
				<input class="linkbutton" type="button" value="+" onclick="doDivAjaxChainCall$formname('paymentScheduleHostel','addPaymentItemHostel','', 'getPaymentSchedule','getPaymentSchedule','')">
			</td>
    	
    	</tr>
    	
    	
    	#set ( $cnt = 0 )
    	#foreach ( $i in $hostelItems )
    		#set ( $cnt = $cnt + 1 )
    		<tr style="height:30px">
    			<td>$cnt)</td>
    			<td>$dateFormat.format($i.dateDue)</td>
    			<td align="center">$numFormat.format($i.amountDue)</td>
    			<td align="center">
					<input class="linkbutton" type="button" value="x" onclick="if ( !confirm('Are you sure?') ) return; doDivAjaxChainCall$formname('paymentScheduleHostel','deletePaymentItemHostel','itemId=$i.id', 'getPaymentSchedule','getPaymentSchedule','')">
				</td>
    		</tr>
    	#end
    	
    </table>
	
	
	</td></tr></table>
		
</div>