<script>
$('combinedRoomList_$room.id').style.display="block";
</script>
<table width="100%" cellpadding="0" cellspacing="0"><tr style="height:30px;background:#CCCCCC">
<td align="right">
<input class="linkbutton" style="padding:2px" type="button" value="OK" onclick="doDivAjaxCall3$formname('roomList','updateCombinedRoom','roomId=$room.id')">
<input class="linkbutton" style="padding:2px" type="button" value="Cancel" onclick="$('combinedRoomList_$room.id').style.display='none';">
</td>
</tr></table>

<div style="height:200px;overflow:auto">
<table>
#foreach( $r in $roomList )
<tr>
<td style="width:80px">$r.code</td>
<td style="width:200px">$r.name</td>
<td style="width:20px">
#set ( $checked = "" )
#foreach( $c in $combinedRooms )
	#if ( $r.id == $c.id )
		#set ( $checked = "checked" )
	#end
#end
<input type="checkbox" name="roomIds_$room.id" value="$r.id" $checked>
</td>
</tr>
#end
</table>
</div>