<style>
td { color: #000000; font: normal 11px arial; }
</style>
#if ( !$print_mode )
<table width="100%"><tr><td align="center">
<input type="button" value="Print" onclick="window.open('../y/educate.sis.exam.module.FailedStudentListModule?command=print_students&intake_id=$intake_id','mywin','left=20,top=20,width=500,height=500,toolbar=0,resizable=0');">
<input type="button" value="Statistic Table" onclick="$('div_students').style.visibility='hidden';$('div_stat').style.visibility='visible'">
</td></tr></table>
#end

#if ( $print_mode )
<table width="100%"><tr><td style="font-weight:bold" align="center">
SENARAI PELAJAR YANG GAGAL
<br>
$intake.name
</td></tr></table>
#end

<table>
<tr height="30px" bgcolor="lightgrey">
<td style="width:40px;font-weight:bold"></td>
<td style="width:100px;font-weight:bold">Program</td>
<td style="width:150px;font-weight:bold">Matric No</td>
<td style="width:250px;font-weight:bold">Name</td>
<td style="width:100px;font-weight:bold" align="center">Last CGPA</td>
<td style="width:100px;font-weight:bold" align="center">Current GPA</td>
<td style="width:100px;font-weight:bold" align="center">Current CGPA</td>
</tr>
#foreach( $r in $results )
<tr>
<td>$velocityCount)</td>
<td>$r.student.program.code</td>
<td>$r.student.matricNo</td>
<td>$r.student.biodata.name</td>
<td align="center">#if ( $r.lastResult ) $nf.format($r.lastResult.cgpa) #end</td>
<td align="center">#if ( $r.currentResult ) $nf.format($r.currentResult.gpa) #end</td>
<td align="center">#if ( $r.currentResult ) $nf.format($r.currentResult.cgpa) #end</td>
</tr>
#end
</table>