<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css" media="print">
	
	
@page { size: 29.7cm 21cm;
		margin-left: 1.5cm; 
		margin-top:1.5cm; 
		margin-bottom:1.5cm;
}

.topTitle {
  	font-family: verdana, sans-serif;   
  	font-weight: bold;
	font-size:10pt
} 

td {
  	font-family: verdana, sans-serif;   
  	font-style: normal;
	font-size:8pt
} 

h1{
	font-size:6pt;
	page-break-before: always;
}
</style>

</head>
<body>

#parse("apps/exam_subject_analysis/listResults.vm")

</body>
</html>