<style>
td { color: #000000; font: normal 11px arial; }
</style>
<table align="center">
<tr><td>Intake:</td><td style="font-weight:bold">$intake.name</td></tr>
<tr><td>Semester:</td><td style="font-weight:bold">$period.parent.name $period.name ($session.name)</td></tr>
<tr><td>School:</td><td style="font-weight:bold">$faculty.name</td></tr>
</table>
<br><br>
<div style="position:absolute;width:800px" id="div_students" name="div_students"></div>
<div style="position:absolute;width:800px" id="div_stat" name="div_stat">
#parse("apps/examination_reports/cgpa/stat.vm")
</div>

