<style>
.shadow { -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
.gradient { background: -moz-linear-gradient(top, #E1E1E1 0%, #B4B4B4 100%); }
.text {border-bottom:1px solid #C3C3C3; border-top:none; border-left:none; border-right:1px solid #C3C3C3; height:30px; width:100%}
##td { font-family:verdana; font-size: 10pt;}
td {font-family:arial;font-size:10pt;}
</style>

<table width="600" align="center">

<tr><td height="100px">

#parse("apps/logo/header.vm")

</td></tr>
<tr height="10px"><td>&nbsp;</td></tr>
<tr><td>

<table>
<tr><td>TARIKH:</td><td>$dateFormat.format($current_date)</td></tr>
<tr><td>NO RUJUKAN:</td><td>$applicant.referenceNo</td></tr>
</table>

</td></tr>
<tr height="30px"><td></td></tr>
<tr>
<td style="font-weight:bold">
$applicant.biodata.name<br>
$address
<br>
<br>

</td>
</tr>

<tr><td style="font-weight:bold">TAWARAN KEMASUKAN KE PROGRAM PENGAJIAN</td></tr>
<tr height="20px"><td></td></tr>
<tr><td>
Surat ini adalah untuk mengesahkan bahawa anda telah memenuhi syarat yang ditetapkan untuk kemasukan
ke program berikut:
<br><br>
</td></tr>

<tr><td>
<table>
<tr><td style="width:100px">Program</td><td style="width:50px">:</td><td style="font-weight:bold">$applicant.programOffered.name</td></tr>
<tr><td>Kelulusan JPS</td><td>:</td><td style="font-weight:bold">$!applicant.programOffered.registerNo</td></tr>
<tr><td>Sesi</td><td>:</td><td style="font-weight:bold">$session_name</td></tr>
</table>
<br><br>
</td></tr>

<tr><td>
Maklumat mengenai pendaftaran pelajar baru bagi program ini adalah seperti di bawah:
<br><br>
</td></tr>

<tr><td>
<table>
<tr><td style="width:100px">Tarikh</td><td style="width:50px">:</td><td style="font-weight:bold">$!attr.date</td></tr>
<tr><td>Tempat</td><td>:</td><td style="font-weight:bold">$!attr.location</td></tr>
<tr><td>Masa</td><td>:</td><td style="font-weight:bold">$!attr.time</td></tr>
</table>
<br>
</td></tr>

<tr><td>
<p>
Sekiranya anda memerlukan bantuan pinjaman pendidikan, borang permohonan PTPTN akan diedarkan
selepas hari pendaftaran melalui Pajabat Hal Ehwal Pelajar.
</p>
<p>
Sila bawa bersama-sama anda semua dokumen asal beserta salinannya dan yuran minimum seperti
ternyata dalam <b>Lampiran 1</b> pada hari pendaftaran.
</p>
<p>
Sila hubungi <b>03-92814881</b> jika ada sebarang masalah atau memerlukan penjelasan lanjut.
</p>
<p>
Sekian, terima kasih.
</p>
<p>
<br>
Yang Benar,
<br><br><br>
</p>
<p>
<b>(KHAIRIN ALANG)</b><br>
(Pendaftar)
</p>
</td></tr>

</table>