#if ( $mykad )
<script>
$('dob').value = '$dateFormat.format($mykad.dateOfBirth)';
$('state_born').value = '$mykad.stateName'.toUpperCase();
#if ( $mykad.gender == "F" )
$('gender_id').value = 'P';
#else
$('gender_id').value = 'L';
#end
$('nationality_id').value = 'MY';
</script>
#else
<script>
if ( $('icno').value != '' ) {
	alert('IC No format is NOT VALID!');
	$('icno').focus();
}


#if ( $applicant.nationalityType == "2" )
$('div_mailing_1').style.visibility = 'hidden';
$('div_mailing_2').style.visibility = 'visible';
$('div_permanent_1').style.visibility = 'hidden';
$('div_permanent_2').style.visibility = 'visible';

$('div_mailing_1').style.display = 'none';
$('div_mailing_2').style.display = 'block';
$('div_permanent_1').style.display = 'none';
$('div_permanent_2').style.display = 'block';
#else
$('div_mailing_1').style.visibility = 'visible';
$('div_mailing_2').style.visibility = 'hidden';
$('div_permanent_1').style.visibility = 'visible';
$('div_permanent_2').style.visibility = 'hidden';

$('div_mailing_1').style.display = 'block';
$('div_mailing_2').style.display = 'none';
$('div_permanent_1').style.display = 'block';
$('div_permanent_2').style.display = 'none';
#end

</script>
#end