<table width="700" align="center">
<tr><td align="right">
<fieldset style="background-color:lightgrey; border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">

<input class="gradient" style="height:30px;font-weight:bold"  type="button" value="PREVIOUS .." onclick="doDivAjaxCall$formname('div_main','education_background','from=program_choice')">
<input class="gradient" style="height:30px;font-weight:bold"  type="button" value="NEXT .." onclick="doDivAjaxCall$formname('div_main', 'review','from=program_choice')">

</fieldset>
</td></tr>

<tr><td>
<fieldset style="background-color:#fff; border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">
<legend style="font-weight:bold">PROGRAM CHOICES</legend>
#set ( $bgcolor = "#fff" )
#parse("apps/util/applicant/frm_program_choices.vm")
</fieldset>
</td></tr>


</table>