<table align="center">
<tr bgcolor="lightgrey" height="30px">
<td align="center" style="font-weight:bold;width:100px">Institution</td>
<td align="center" style="font-weight:bold;width:200px">Specialisation</td>
<td align="center" style="font-weight:bold;width:100px">Study Level</td>
<td align="center" style="font-weight:bold;width:100px">Year of<br>Completion</td>
<td align="center" style="font-weight:bold;width:100px">CGPA</td>
<td align="center" style="font-weight:bold;width:100px">Class Degree</td>
</tr>
#foreach( $t in $applicant.tertiaries )
<tr>
<td align="center">$t.instituition</td>
<td align="center">$t.specialisation</td>
<td align="center">$t.level.name</td>
<td align="center">$t.year</td>
<td align="center">$t.cgpa</td>
<td align="center">$t.degreeClass.name</td>
</tr>
#end
</table>
#**
<br><br>
<table width="100%"><tr><td align="right">
<input type="button" style="font-weight:bold;height:30px"  value="EDIT ..." onclick="doDivAjaxCall${formName}('tertiary','edit_tertiary','')">
</td></tr></table>
**#