
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css" media="print">

@page {  	size: 21cm 29.7cm;
			margin: 1.0cm; }

td {
  	font-family: verdana, sans-serif;   
  	font-style: normal;
	font-size:9pt
} 

h1{
	font-size:6pt;
	page-break-before: always;
}

</style>

</head>
<body>
	
#if ( $appUrl )
<div style="margin-top:1cm;">
<table width="100%">
	<tr>
		<td style="width:200px">
			<img style="" src="$appUrl/header/logo.png">
		</td>
		<td style="font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:14pt">
			EXAMINATION DOCKET
		</td>
	</tr>
</table>
</div>
#end


<div>
#parse("apps/examinationDocket/examinationDocketItems.vm")
</div>

<div>
	<img style="width:700px" src="$appUrl/img/exam_docket.png">
</div>
<div style="margin-top:3px">
	<table align="center"><tr><td style="font-weight:bold;font-size:12pt;color:#ccc;font-style: italic;">Examination Department</td></tr></table>
</div>
</body>
</html>