<div style="height:1650px;padding:2px;background:#F4F4F3">
<iframe id="frameClassroomTemplates" frameborder="0" style="width:800px;height:1600px" 
src="../gc/educate.admission.module.StudentMoheDataModule2"></iframe></div>