#set ($m_name = "")
#set ($m_login = "")
#set ($m_password = "")
#set ($m_role = "")
#set ($m_style = "")
#if ( $registerUserStatus != "none" )
    #set ($m_name = $user_name)
    #set ($m_login = $user_login)
    #set ($m_password = $user_password)
    #set ($m_role = $user_role)
    #set ($m_style = $page_style)
#end
<form name="freg" method="post">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
    <td width="8" nowrap></td>
    <td>
#if ( $registerUserStatus == "success" )
    <table width="100%" border="0">
        <tr>
            <td>
            <font color="blue">
            <b>
            #if ( $submit == "add" )
                Successfully registered new user: <u>$m_name<u>
            #elseif ($submit == "update" )
                Successfully updated: <u>$m_name<u>
            #end
            </b>
            </font>
            </td>
        </tr>
    </table>
#elseif ( $registerUserStatus == "failed" )
    <table width="100%" border="0">
        <tr>
            <td>
            <b>
            <font color="red">
            Can't register: $m_login - $m_name<br>
            Login id already exist, please try different Login id.
            </font>
            </b>
            </td>
        </tr>
    </table>
#else
    <table width="100%" border="0">
        <tr>
            <td nowrap>&nbsp;</td>
        </tr>
    </table>
#end
<table border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td >Login Id</td>
        <td><input name="user_login" size="20" value="$m_login"></td>
    </tr>
    <tr>
        <td >Password</td>
        <td><input name="user_password" size="20" value="$m_password"></td>
    </tr>
    <tr>
        <td >Name</td>
        <td><input name="user_name" size="50" value="$m_name"></td>
    </tr>
    <tr>
        <td >Role</td>
        <td>
            <select name="user_role">

            #foreach ( $role in $userRoles )
                #if ( $m_role == $role.getName() )
                    #set ( $selected = "selected")
                #else
                    #set ($selected = "")
                #end
                <option value="$role.getName()" $selected>$role.getName()</option>
            #end
            </select>
        </td>
    </tr>   
    <tr>
        <td >Page Style</td>
        <td>
            <select name="page_style">

            #foreach ( $style in $pageStyleList )
                #if ( $m_style == $style.getCssName() )
                    #set ( $selected = "selected")
                #else
                    #set ($selected = "")
                #end
                <option value="$style.getCssName()" $selected>$style.getTitle()</option>
            #end
            </select>
        </td>
    </tr>   
    <tr>
        <td colspan="2" align="right">
            <input type="button" value="Reset" onclick="resetFields()">
            <input type="button" value="Register" onclick="submitRegister('add')">
            #if ( $registerUserStatus != "none" )
                <input type="button" value="Update" onclick="submitRegister('update')">
            #end
        </td>
    </tr>   
</table>
    </td>
    <td width="8" nowrap></td>
</tr>
</table>
<input type="hidden" name="command">
</form>
<script>
function submitRegister(s) {
    if ( document.freg.user_login.value == "" ) { document.freg.user_login.focus(); return; }
    if ( document.freg.user_name.value == "" ) { document.freg.user_name.focus(); return; }
    if ( document.freg.user_password.value == "" ) { document.freg.user_password.focus(); return; }
    
    #if ( $registerUserStatus != "none" )
        if ( s == "update" ) {
            if ( document.freg.user_login.value != '$m_login' ) {
                alert('You can\'t change the Login id for updating!');
                return; 
            }
        }
    #end
    document.freg.command.value = s;
    document.freg.action = "";
    document.freg.submit();
}   
function resetFields() {
    document.freg.user_login.value = "";
    document.freg.user_name.value = "";
    document.freg.user_password.value = "";  
    document.freg.user_role.value = "";
    document.freg.user_login.focus();
}
</script>