<form name="f" method="post">
<table>
<tr>
<td>
Select group to rename:
</td>
<td>
<select name="groupList">
#foreach( $name in $groupList)
<option value="$name">$name</option>
#end
</select>
</td>
</tr>
<tr>
<td>
Enter new name
</td>
<td>
<input name="newName" size="40">
</td></tr>
<tr>
<td>
</td>
<td>
<input type="button" value="Change Name" onclick="saveName()">
</td>
</tr>
</table>
<input type="hidden" name="command">
</form>
<script>
function saveName() {
if ( document.f.newName.value == "" ) return;
document.f.command.value = "saveName";
document.f.submit();
}
</script>