<table>
<tr><td>Name:</td><td style="width:300px"><input class="texts" readonly value="$member.fullName"></td></tr>
<tr><td>Position:</td>
<td>
<select class="texts" name="positionId">
<option value=""></option>
#foreach( $p in $positions )
<option value="$p.id">$p.name</option>
#end
</select>
</td></tr>
<tr>
<td>Start Date:</td>
<td>
$html.dateField.name("startDate").value("").style("width:100px").cssClass("texts")
</td></tr>
<tr>
<td>Start Date:</td>
<td>
$html.dateField.name("endDate").value("").style("width:100px").cssClass("texts")
</td></tr>
<tr>
<td colspan="2" align="right">
<input class="linkbutton" type="button" value="Add Secretariat" onclick="doDivAjaxCall3$formname('secretariat','addSecretariatMember','memberId=$member.id')">
</td></tr>
</table>