<table>
<tr style="height:30px;background:#CCCDCE">
<td style="width:20px;font-weight:bold"></td>
<td style="width:200px;font-weight:bold">Name</td>
<td style="width:200px;font-weight:bold">Position</td>
<td style="width:100px;font-weight:bold">Start Date</td>
<td style="width:100px;font-weight:bold">End Date</td>
<td style="width:100px;font-weight:bold"></td>
</tr>

#set ( $cnt = 0 )
#foreach( $s in $secretariats )
#set ( $cnt = $cnt + 1 )
<tr>
<td>$cnt.</td>
<td>$s.position.name</td>
<td>$s.member.fullName</td>
<td>
#if ( $s.startDate ) $dateFormat.format($s.startDate) #end
</td>
<td>#if ( $s.endDate ) $dateFormat.format($s.endDate) #end</td>
<td>
<input type="button" value="X" onclick="doDivAjaxCall3$formname('secretariat','deleteSecretariat','secretariatId=$s.id')">
</td>
#end
<tr>
<td colspan="6" align="right">
<input type="button" value="Add" onclick="doDivAjaxCall3$formname('addSecretariat','addSecretariat','')">
</td>
</tr>
</table>
<div id="addSecretariat"></div>
