<html>
<title>
Mecca Portal
</title>
<link rel="stylesheet" type="text/css" href="../css/${PORTAL_CSS}" />
<body topmargin="0" leftmargin="0">
<div align="center">

<table class="container" cellpadding="0" cellspacing="0" border="0">



<tr><td>
#parse("vtl/main/header.vm")
</td></tr>

#if ( $isTabbed)
	<tr><td>
	#parse("vtl/main/tabber.vm")
		</td></tr>
		#end
	
	<tr><td>
#parse("vtl/main/_portal_body.vm")
</td></tr>

<tr><td>
#parse("vtl/main/footer.vm")
</td></tr>

</table>
</div>
</body>
</html>



