
#if ( $userIsLogged )


	#set ( $current_role = "" )
	#set ( $current_role = $primaryRole.description )
	#foreach( $secondaryRole in $secondaryRoles )
		#if ( $myrole == $secondaryRole.name )
			#set ( $current_role = $secondaryRole.description )
		#end
	#end
		
<span id="menu_parent_roles2">
	<a><font class="font_role_select">Role: $!current_role</font></a>
</span>

#if ( ${session.getAttribute("_portal_role")} != "root" )

	<div id="menu_child_roles" class="tab_pulldown pulldown_menu" style="position: absolute;visibility:hidden;z-index:99991;width:300px">
		<a class="pulldown_menu" href="javascript:changeRole('')">$!primaryRole.description</a>
		#foreach( $secondaryRole in $secondaryRoles )
			#if ( $secondaryRole.description != "" )
			<a class="pulldown_menu" href="javascript:changeRole('$!secondaryRole.name')">$!secondaryRole.description</a>
			#end
		#end
	</div>
				
	
	
	<script type="text/javascript">
	at_attach("menu_parent_roles2", "menu_child_roles", "hover", "y", "pointer");
	</script>

#end


#end