
<div class="padding:10px">
<table>
	#** 
	<tr><td style="width:300px">
		
		<select class="form-control" name="departmentId">
			<option value=""></option>
			#foreach( $d in $userDepartments )
				<option value="$d.id">$d.id - $d.name</option>
			#end
		</select>
		
		
	</td>
	<td>
	&nbsp;
	<button type="button" class="btn btn-success btn-sm" onclick="if ( $('findName').value != '' ) { doDivAjaxCall$formname('teacherList','findTeacherByName',''); }">Search</button>
	</td></tr>
	**#
	
	<tr>
	<td>Name or Staff ID:</td>
	<td style="width:300px">
		
		<input class="form-control" name="findName" id="findName">
		
		
	</td>
	<td>
	&nbsp;
	<button type="button" class="btn btn-success btn-sm" onclick="if ( $('findName').value != '' ) { doDivAjaxCall$formname('teacherList','findTeacherByName',''); }">Search</button>
	</td></tr>	
	
</table>

<div id="teacherList"></div>

</div>