<select class="form-control" style="width:300px" name="path_no" onchange="get()">
#foreach ( $num in [0..100])
#if ( $path_no == $num )
		#set ( $selected = "selected" )
#else
	#set ( $selected = "" )
#end

#if ( $pathNames.get($num) ) #set ( $pathName = $pathNames.get($num) ) #else #set ( $pathName = $num ) #end

<option value="$num" $selected>$pathName</option>
	#end
</select>