<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css" media="print">
td {
  	font-family: Helvetica, sans-serif;   
  	font-style: normal;
	font-size:9pt
	} 
	
h1{
	page-break-before: always;
}
</style>
</head>

<body>



<table width="100%"><tr><td>
<fieldset>

<table width="100%">

<tr><td style="width:150px">Matric No:</td><td style="font-weight:bold">$student.matricNo</td></tr>
<tr><td>Name:</td><td style="font-weight:bold">$student.biodata.name</td></tr>
<tr><td>Program:</td><td style="font-weight:bold">$student.program.code $student.program.name</td></tr>
<tr><td>Intake:</td><td style="font-weight:bold">$student.intake.name</td></tr>
<tr><td>Centre:</td><td style="font-weight:bold">$student.learningCenter.name</td></tr>

<tr><td>Current Session:</td><td style="font-weight:bold">$student_status.session.name</td></tr>
<tr><td>Current Period:</td><td style="font-weight:bold">$student_status.period.name #if ( $student_status.period.parent ) ($student_status.period.parent.name) #end</td></tr>

</table>

</fieldset></td></tr></table>

<table width="100%"><tr><td>





#parse("apps/util/document_print/subject_list.vm")

</td></tr>

</table>


</body>
</html>
