<table cellpadding="0" cellspacing="1" bgcolor="#A5A5A5" border="0">

<tr height="20px">
<td colspan="$days" align="center" style="background:#fff">
$month, $year
</td></tr>

<tr height="20px">
#foreach( $i in [1..$days])

##WIDTH
<td style="width:30px;background-color:#D2D2D2;font-family:courier;font-size:8pt" align="center">
#if ( $i < 10 ) 0$i #else $i #end
</td>
#end
</tr>

#foreach ( $slot in $slots )

<tr height="20px">
#foreach( $i in [1..$days])


#if ( $slot.getOccupants($i).size() > 0 )
#set ( $occupants = $slot.getOccupants($i) )


#set ( $txt = "Room:<b>${slot.room.code}</b> - </b>" )
#if ( $occupants.size() > 1 )
#set ( $txt = $txt + "</ul>" + $occupants.size() + " occupants" )
#else
#set ( $txt = $txt + "</ul>" + $occupants.size() + " occupant" )
#end
#set ( $txt = "<ul>" )

#foreach ( $occupant in $occupants )
#set ( $date_in = "" )
#set ( $date_out = "" )
#if ( $occupant.checkInDate ) #set ( $date_in = $dateFormat.format($occupant.checkInDate) ) #end
#if ( $occupant.checkOutDate ) #set ( $date_out = $dateFormat.format($occupant.checkOutDate) ) #end


#set ( $txt = $txt + "<li>$!occupant.student.biodata.name ($!occupant.student.matricNo)")
#set ( $txt = $txt + "<br>$date_in - $date_out")
#end



#if ( $occupants.size() == $slot.room.capacity )
#set ( $bcolor = "#FF0000" )
#elseif ( $occupants.size() == 1 )
#set ( $bcolor = "#FFFF2A" )
#elseif ( $occupants.size() == 2 )
#set ( $bcolor = "#FF7FFF" )
#elseif ( $occupants.size() == 3 )
#set ( $bcolor = "#FFAA55" )
#elseif ( $occupants.size() > 3 )
#set ( $bcolor = "#FF5500" )
#end

#if ( $i < 10 ) #set ( $day = "0" + $i ) #else #set ( $day = "" + $i ) #end

<td align="center" style="background-color:$bcolor;cursor:hand; cursor:pointer;" 
onclick="$('div_room_info').style.left=cursorX;$('div_room_info').style.top=cursorY;$('div_room_info').style.visibility='visible';$('div_room_info2').style.visibility='visible';$('div_room_info2').innerHTML='$txt'">
##$occupants.size()
&nbsp;
</td>

#else


<td style="background-color:#D4FFD4;cursor:hand; cursor:pointer;" align="center"></td>

#end
#end
</tr>

#end

</table>