
<fieldset>
<legend class="legend">Pendaftaran Pengguna</legend>


<table width="700px">
<tr><td width="500px" valign="top">


<table width="100%">
<tr><td style="width:100px"></td><td style="width:10px"></td><td></td></tr>

#show ( "nama" "Nama" "$!pelanggan.nama" )
#show ( "noKPdaftar" "No KP" "$!pelanggan.noKPdaftar" )
#show ( "alamat1" "Alamat" "$!pelanggan.alamat1" )
#show ( "alamat2" "" "$!pelanggan.alamat2" )
#show ( "poskod" "Poskod" "$!pelanggan.poskod" )
#show ( "bandar" "Bandar" "$!pelanggan.bandar" )
#show ( "negeri" "Negeri" "$!pelanggan.negeri" )

</table>

<table width="100%">
<tr><td style="width:100px"></td><td style="width:10px"></td><td></td></tr>

#show ( "emel" "Emel" "$!pelanggan.emel" )
#show ( "noTel" "Tel" "$!pelanggan.noTel" )
#show ( "noTelBimbit" "Tel Bimbit" "$!pelanggan.noTelBimbit" )

</table>



</td><td valign="top" align="center">


#if ( $!profilePhotoFileName )
<img src="../download?file=$!profilePhotoFileName" border="0">
#else
<img src="../img/nophoto.gif" border="0">
#end



</td></tr>

<tr><td align="center" style="font-weight:bold">


</td></tr>

</table>


</fieldset>

