<script>
function openTimetable() {

	var winfeatures = "menubar=0,location=0,resizable=1,scrollbars=1,status=1,width=1000,height=600";

	winTT=window.open('../gc/educate.timetabling.module.SetupTimeTableModule','winTT',winfeatures);
	if (window.focus) {winTT.focus()}
	return false;
}

</script>

<div style="margin-top:2cm;text-align:center">

<div style="margin-top:1cm;margin-bottom:1cm;font-family:Verdana, sans-serif;font-size:10pt">
Timetable Management is needed to be opened in a new Window.  <br/>
Please click the button below to open.
<br/>
</div>

<input class="linkbutton" type="button" style="font-weight:bold" value="OPEN TIMETABLE MANAGEMENT" onclick="openTimetable()">

</div>

