<table width="800" align="center"><tr><td>

#if ( $student )


<input type="hidden" name="student_status_id" value="$!student_status.id">
<input type="hidden" name="student_id" value="$!student.id">

<table width="100%"><tr><td>
<fieldset style="background-color:#D4FFFF;border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px; border-style:solid">

<table width="100%">

<tr><td style="width:150px">Matric No:</td><td style="font-weight:bold">$student.matricNo</td></tr>
<tr><td>Name:</td><td style="font-weight:bold">$student.biodata.name</td></tr>
<tr><td>Program:</td><td style="font-weight:bold">$student.program.code $student.program.name</td></tr>
<tr><td>Intake:</td><td style="font-weight:bold">$student.intake.name</td></tr>
<tr><td>Centre:</td><td style="font-weight:bold">$student.learningCenter.name</td></tr>
#if ( $student_status )
<tr><td>Current Session:</td><td style="font-weight:bold">$student_status.session.name</td></tr>
<tr><td>Current Period:</td><td style="font-weight:bold">$student_status.period.name #if ( $student_status.period.parent ) ($student_status.period.parent.name) #end</td></tr>
#end
</table>

</fieldset></td></tr></table>
<br>
<table>
<tr height="30px">
<td align="center" style="width:150px;font-weight:bold;background-color:#FFFFD4;">
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_content','biodata','')">Biodata</a></td>
<td align="center" style="width:150px;font-weight:bold;background-color:#FFFFD4;">
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_content','subjects','')">Subjects</a></td>
<td align="center" style="width:150px;font-weight:bold;background-color:#FFFFD4;">
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_content','account_statement','')">Account Statement</a></td>
<td align="center" style="width:150px;font-weight:bold;background-color:#FFFFD4;">
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_content','transcript','')">Exam Transcript</a></td>
</tr>
</table>
<table width="100%"><tr><td>
<fieldset style="background-color:#FFFFD4;border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px; border-style:solid;">
<div id="div_content" name="div_content" 
style="overflow:auto;height:300px;background-color:#FFFFD4;"></div>
</fieldset>
</td></tr></table>



</td></tr></table>

#end

