<link rel="stylesheet" href="../admission/style.css" type="text/css" media="screen" />

<style>
#div_input {
    position:fixed;
    top: 30%;
    left: 15%;
    width:600px;
    margin-top: -100px;
    border: 1px solid #ccc;
    padding:3px;
    background:#E8ECEF;
    display:none;
}
</style>

<div id="div_main">#parse("studentaffair/student_club_position/positions.vm")</div>
<div id="div_input"></div>