<table>
<tr>
<td style="width:100px">Program: </td>
<td style="width:500px">
<select class="form-control" id="programId" name="programId" onchange="if ( this.value == '' ) return;doDivAjaxCall3$formname('divMain','getProgram','')">
<option value=""></option>
#foreach ( $p in $programs )
<option value="$p.id">$p.code - $p.name</option>
#end
</select>
</td><td><td>&nbsp;</td>
<td>
<button class="btn btn-primary" type="button" onclick="doDivAjaxCall3$formname('divMain','getProgram','')">Get...</button>
</td>
</tr>
</table>