<script>
$('divEditClassroom').style.display="block";
</script>

<div style="padding:2px">

<table width="100%" cellpadding="0" cellspacing="0" style="background:#0000FF">
<tr><td style="height:30px">
	<span style="padding:2px;font-family:Verdana, sans-serif;font-size:10pt;color:#fff">Change Room</span></td>
<td align="right">

</td></tr></table>

<div>
<table width="100%">
<tr><td style="width:100px;height:30px">Subject:</td><td style="font-weight:bold">$subject.code $subject.name</td></tr>
<tr><td style="width:100px;height:30px">Activity:</td><td style="font-weight:bold">$type.name</td></tr>


<tr><td style="width:100px;height:30px">Room:</td><td style="font-weight:bold">
	$!room.code - $!room.name,
	$!room.floor.name, 
	$!room.floor.block.name,
	$!room.floor.block.building.name
</td></tr>
 

<tr style="height:30px"><td>Change Room:</td>
<td>

<select class="text" style="width:100%" name="editRoomId" id="editRoomId" style="width:100%">
<option value="">-</option>
#foreach( $r in $availableRooms )
<option value="$r.id" #if ( $room.id == $r.id ) selected #end>
$r.code - $r.name,
	$!r.floor.name, 
	$!r.floor.block.name,
	$!r.floor.block.building.name</option>
#end
</select>
</td></tr>

<tr><td colspan="2" align="right">
<br/>
<button type="button" class="btn btn-warning" onclick="$('div_students').style.display='none';if ( $('editRoomId').value == '' ) return; $('divEditClassroom').style.display='none';doDivAjaxCall$formname('div_timetable_main','save_change_room2','classroomId=$classroom.id')">Save</button>
<button type="button" class="btn btn-info" onclick="$('divEditClassroom').style.display='none';">Cancel</button>

</td></tr>

</table>

</div>

<br/>
</div>