<script>
$('div_attendance').style.display="block";
</script>


<div style="width:1200px" onclick="makeOnTop($cnt, $students.size())">
<table width="100%" style="height:30px;background:#005083;cursor:pointer">
<tr>
<td style="font-weight:bold;color:#fff">
CLASSROOM ATTENDANCE: $!student.biodata.name
</td>
<td align="right">
<input class="linkbutton" type="button" style="padding:2px;font-weight:bold" value="Close" onclick="$('div_attendance').style.display='none';">
</td></tr>
</table>
</div>

<div style="height:400px;overflow:auto">
#parse("parent_portal/view/getAttendanceView.vm")
</div>