<select class="input-text" style="width:600px" id="intakeId" name="intakeId" >
<option value="">(ALL)</option>
#foreach ( $s in $intakes )
<option value="$s.id">$s.code $s.name</option>
#end
</select>