


<div style="text-align:center;font-weight:bold;">Number of active students</div>
<div id="chartContainer1" style="height: 250px; width: 100%; border:1px dotted #fff;margin:10px"></div>
<br/>
<div style="text-align:center;font-weight:bold;">Number of active students by Programs</div>
<div id="chartContainer2" style="height: 250px; width: 100%; border:1px dotted #fff;margin:10px"></div>



<script>

_jq( document ).ready(function() {
    loadActiveStudentsChart();
});

function loadActiveStudentsChart() {
	
	var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: ""
	},
	axisX:{
		valueFormatString: "DD MMM YY",
		crosshair: {
			enabled: true,
			snapToDataPoint: true
		}
	},
	axisY: {
		title: "Number of Students",
		crosshair: {
			enabled: true
		}
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [{
		type: "line",
		showInLegend: false,
		name: "Total Students",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#F08080",
		dataPoints: [
			#foreach ( $d in $dataList )
				{ x: new Date($d.year, $d.month, $d.day), y: $d.value },
			#end
			]
		}]
	});
	
	chart.render();
	function toogleDataSeries(e){
		if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		} else{
			e.dataSeries.visible = true;
		}
		chart.render();
	}
	
	
	var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: ""
	},
	axisX:{
		valueFormatString: "DD MMM YY",
		crosshair: {
			enabled: true,
			snapToDataPoint: true
		}
	},
	axisY: {
		title: "Number of Students",
		crosshair: {
			enabled: true
		}
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: false,
		itemclick: toogleDataSeries2
	},
	data: [
		#set ( $cnt = 0 )
		#foreach( $program in $programs )
			#set ( $dataList = $programData.get("$program.id") )
			{
			type: "line",
			showInLegend: true,
			name: "$program.code",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "$colors.get($cnt)",
			dataPoints: [
				#foreach ( $d in $dataList )
					{ x: new Date($d.year, $d.month, $d.day), y: $d.value },
				#end
				]
			},
			#set ( $cnt = $cnt + 1 )
		#end
		]
	});
	
	chart2.render();
	function toogleDataSeries2(e){
		if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		} else{
			e.dataSeries.visible = true;
		}
		chart2.render();
	}
	
}



</script>