<table width="100%" bgcolor="#FFFF7F"><tr><td>
<table width="100%"><tr><td>FLOORS</td><td align="right"><a href="javascript:void()" onclick="doDivAjaxCall$formname('block_$block.id', 'close', '')">close</a></td></tr></table>
<table width="100%">
<tr>
<td><input name="code_$block.id" style="width:100%"</td>
<td width="350px"><input name="name_$block.id" style="width:100%"></td>
<td>
<input type="button" value="Add" onclick="doDivAjaxCall$formname('block_$block.id','add_floor','block_id=$block.id')">
</td>
</tr>
</table>

<table width="100%">
#foreach ( $floor in $block.floors )
<tr>
<td>
$floor.code
<a href="javascript:void()" onclick="doDivAjaxCall$formname('floor_$floor.id','list_rooms','floor_id=$floor.id')">
$floor.name
</a>
</td>
</tr>

<tr><td colspan="2">
<div id="floor_$floor.id" name="floor_$floor.id"></div>
</td></tr>
#end
</table>
</td></tr></table>