
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css" media="print">

@page {  	size: 21cm 29.7cm;
			margin: 1.5cm; }

td {
  	font-family: verdana, sans-serif;   
  	font-style: normal;
	font-size:9pt
} 

h1{
	font-size:6pt;
	page-break-before: always;
}

</style>

</head>
<body style="margin:0px;padding:0px">


#parse("apps/finance/studentPaymentSchedule/print_paymentSchedule2.vm")

</body>
</html>