<script>
$('findGroup').style.display='none';
$('listGroups').style.display='none';
</script>

#parse("apps/timetabling/time.vm")
#parse("apps/useLocal.vm")


<script>
$('calendars').style.display='none';
</script>


#set ( $pdfName = "Schedule_$!{semesterName}_" )

#set ( $groupIds = "" )

#set ( $groupIds = "" )
#set ( $teacherId = "" )
#set ( $subjectId = "" )
#set ( $programId = "" )
#set ( $roomId = "" )
	
#if ( $filterBy == "all" )


#elseif ( $filterBy == "teacher" )
	#set ( $teacherId = $teacher.id )
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;">Search By Teacher : </span>
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold">
	$teacher.name ($!teacher.id)
	</span>
	#set ( $pdfName = $pdfName + "_" + $teacher.id )
#elseif ( $filterBy == "group" )
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;">Search By Group(s) : </span>
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold">
	#foreach( $group in $groups )
		$group.code,
		#set ( $groupIds = $groupIds + "&amp;groupIds=$group.id" )
	#end
	</span>
	#set ( $pdfName = $pdfName + "_multipleGroups" )
#elseif ( $filterBy == "program" )
	#set ( $programId = $program.id )
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;">Search By Program : </span>
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold">
	$program.code - $program.name
	</span>
	#set ( $pdfName = $pdfName + "_" + $program.code )
#elseif ( $filterBy == "room" )
	#set ( $roomId = $room.id )
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;">Search By Room : </span>
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold">
	
	$!room.name -
	$!room.floor.name - $!room.floor.block.name -
	$!room.floor.block.building.name - $!room.floor.block.building.campus.name
	
	</span>
	#set ( $pdfName = $pdfName + "_" + $room.id)

#elseif ( $filterBy == "subject" )
	#set ( $subjectId = $subject.id )
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;">Search By Course : </span>
	<span style="padding:0.1cm;font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold">
	$subject.code - $subject.name
	</span>
	#set ( $pdfName = $pdfName + "_" + $subject.code )
#end

##$classroomListReportUid
<button type="button" class="btn btn-default btn-sm" onclick="document.location='$pre/servlet/educate.util.CreatePDFServlet?pathUrl=v/educate.timetabling.module.ClassroomListPDFModule?classroomListReportUid=$!classroomListReportUid&amp;campusId=$!campus.id&amp;deliveryPeriodId=$!deliveryPeriod.id&amp;sessionId=$!session.id&amp;week=$!week&amp;teacherId=$!teacherId&amp;roomId=$!roomId&amp;programId=$!programId&amp;subjectId=$!{subjectId}${groupIds}&amp;filterBy=$!filterBy&pdfName=$!pdfName';">
	Download PDF
</button>
#** 
<button type="button" class="btn btn-default btn-sm" onclick="document.location='$pre/servlet/educate.util.CreatePDFServlet?pathUrl=v/educate.timetabling.module.ClassroomListPDFModule?campusId=$!campus.id&amp;deliveryPeriodId=$!deliveryPeriod.id&amp;sessionId=$!session.id&amp;week=$!week&amp;teacherId=$!teacherId&amp;roomId=$!roomId&amp;programId=$!programId&amp;subjectId=$!{subjectId}${groupIds}&amp;filterBy=$!filterBy&pdfName=$!pdfName';">
	Download PDF
</button>
**#


<div id="div_classrooms" style="">
#parse("apps/timetabling/list_classrooms2/div_classrooms2.vm")
</div>


<div id="divAttendance" class="shadow"></div>
	
<script>
##$('selectSession').style.display = "none";
</script>