
<table class="table">

<thead>
	<tr>
		<th style="width:10px"></th>
		<th>Date</th>
		<th>Time</th>
		<th>Course</th>
		<th>Type</th>
		<th>Room</th>
		#if ( !$group )
			<th>Group(s)</th>
		#end
		<th>Lecturer(s)</th>
	</tr>

</thead>

<tbody>
#set ( $rowCnt = 0 )
#set ( $cnt = 1 )
#set ( $days = -1 )
#foreach( $c in $classrooms )

	

	#if ( $c.classroom.combined && $c.classroom.combineSlotNo > 1 )
	
	#else
	
		#set ( $slotTime = $slotTimes.get($c.classroom.slot.posX) )
	
		#set ( $rowCnt = $rowCnt + 1 )
		#set ( $cnt = $cnt + 1 )
		#if ( $cnt % 2 == 0 ) #set ( $bgcolor = "#C8E3F7" ) #else #set ( $bgcolor="#ffffff" ) #end
		
		#if ( $days != $c.days )
		
			#if ( $days != -1 )
				##<tr><td colspan="7"><hr/></td></tr> 
			#end
			
			<tr height="30px" style="border-top:1px solid">
			<td>$rowCnt.</td>
			<td style="" valign="middle">
			$dateFormat3.format($c.date)
			</td>
			#set ( $days = $c.days )
		#else
			<tr height="30px">
			<td>$rowCnt.</td>
			<td style="">
			$dateFormat3.format($c.date)
			</td>
		#end
	
	
		#if ( $c.classroom.combined && $c.classroom.combineSlotNo == 1 )
			#set ( $slotLastPos = $c.classroom.slot.posX + $c.classroom.classroomSection.classroomType.slotCount - 1)
			#set ( $slotTime2 = $slotTimes.get($slotLastPos) )
			<td style="background:$bgcolor;" valign="middle" align="center">
				$timeFormat.format($slotTime.startTime) - $timeFormat.format($slotTime2.endTime)
			</td>
		#else
			<td style="background:$bgcolor;" valign="middle" align="center">
				$timeFormat.format($slotTime.startTime) - $timeFormat.format($slotTime.endTime)
			</td>
		#end
		
		<td style="background:$bgcolor;" valign="middle">$!c.classroom.subject.code &nbsp; $!c.classroom.subject.name</td>
		<td style="background:$bgcolor;" valign="middle">$!c.classroom.classroomSection.classroomType.learningActivityType.name</td>
		<td style="background:$bgcolor;" valign="middle">
			$!c.classroom.room.description,
			$!c.classroom.room.floor.name, $!c.classroom.room.floor.block.name,
			$!c.classroom.room.floor.block.building.name, $!c.classroom.room.floor.block.building.campus.name
		</td>
		
		#if ( !$group )
		<td style="background:$bgcolor;" valign="middle">
			
			#foreach( $g in $c.classroom.studentSubjectGroups )
				$!g.code<br/>
			#end
			
		</td>
		#end
		
		<td style="background:$bgcolor;" valign="middle">
			<table width="100%" cellpadding="0" cellspacing="0">
			
			#if ( $c.classroom.classTeachers.size() == 0 )
				<tr><td></td><td align="right"></td></tr>
			#else
				#foreach( $t in $c.classroom.classTeachers )
					#if ( !$teacherView )
					<tr><td style="width:200px">$t.teacher.name</td>
					<td style="width:100px" align="center">
					#set ( $checked = "" )
					#if ( $attendanceData.getAttendance("$c.classroom.id", "$t.id") ) 
						#set ( $checked = "checked" )
					#end
					
					##<input $checked type="checkbox"  name="check_${c.classroom.id}_${t.id}" value="1"  onclick="doDivAjaxCall3$formname('divEmpty','teacherAttendance','classroomId=$c.classroom.id&attendanceTeacherId=$t.id')">
					
					</td>
					</tr>
					#else
						<tr><td style="width:300px">$t.teacher.name</td></tr>
					#end
				#end
			#end
			</table>
		</td>
		
		#** 
		<td style="width:100px" align="center">
		<input class="linkbutton" type="button" value="..." onclick="doDivAjaxCall3$formname('divAttendance','listStudents','classroomId=$c.classroom.id')">
		</td>
		**#
		
	#end
	
	</tr>

#end

</tbody>

</table>
