<table><tr><td style="width:300px">
	<input class="form-control" name="subjectName" name="subjectName" placeholder="Click 'Find...' button" readonly>
	<input type="hidden" name="subjectId" id="subjectId">
</td><td>
	&nbsp;
	<button type="button" class="btn btn-primary btn-sm" onclick="if ( $('sessionId').value == '' || $('week').value == '' ) { alert('Please select week');return; } else { doDivAjaxCall$formname('classroomList','filterBySubject',''); }">Get Report</button>
	<button type="button" class="btn btn-success btn-sm" onclick="$('calendars').style.display='none';$('classroomList').style.display='none';$('findTeacher').style.display='none';$('findGroup').style.display='none';$('findProgram').style.display='none';$('findRoom').style.display='none';$('findSubject').style.display='block';">Find...</button>

</td></tr></table>