<style>
td { font-family:verdana; font-size:10pt }
.textr {color:#000;background-color:#fff;font-weight:normal;font-family:verdana;font-size:10pt; border-bottom:1px solid #66CCCC; border-top: 1px solid #66CCCC; border-left: 1px solid #66CCCC; border-right:1px solid #66CCCC; height:25px; width:100%;padding-left:5px; padding-top:2px; padding-bottom: 2px;}
.textr:focus {color:#000;background-color:#D4D4FF;font-family:verdana;font-size:10pt; border-bottom:1px solid #0808B2; border-top: 1px solid #66CCCC; border-left: 1px solid #66CCCC; border-right:1px solid #0808B2; height:25px; width:100%;padding-left:5px; padding-top:2px; padding-bottom: 2px;}

</style>


<div id="main_standing" style="padding:10px">
#parse("apps/setup_standing/standings.vm")
</div>
