<script>
document.location.href='../servlet/educate.util.CreatePDFServlet?pathUrl=v/educate.admission.module.RegistrationSlipPrint?matric_no=$util.replaceSp($student.matricNo)&pdfName=slip_registration';
</script>
