<select class="input-text" id="intake_id" name="intake_id" onchange="doDivAjaxCall3$formname('div_select_batches','listEnrollmentIntakes','')">
<option value=""> - Select intake - </option>
#foreach( $i in $intakes )
<option value="$i.id" #if ( $current_session.id == $i.id ) selected #end>#if ( $current_session.id == $i.id ) &gt; #end$i.code $i.name</option>
#end
</select>