<table>
<tr>
<td style="width:150px">Program: </td>
<td style="width:400px">
<select class="textr" id="programId" name="programId" onchange="if ( this.value == '' ) return; doDivAjaxCall3$formname('listSessions','listSessions','')">
<option value=""></option>
#foreach ( $p in $programs )
<option value="$p.id">$p.code - $p.name</option>
#end
</select>
</td>
</tr>

<tr>
<td>Session: </td>
<td>
<div id="listSessions"></div>
</td>
</tr>

<tr>
<td></td>
<td>
<input class="linkbutton" type="button" value="List Graduates" onclick="doDivAjaxCall3$formname('listStudents','listStudents','')">
</td>
</tr>

</table>