<table width="100%" bgcolor="#BCBCBC">
<tr><td>
<table width="100%" align="left" bgcolor="#FFFF99">
#foreach( $status in $statuses )
<tr>
<td style="font-weight:bold" onmouseover="this.style.background='#E2E2FE';" onmouseout="this.style.background='#FFFF99';">
<a href="javascript:void()" onclick="$('div_set_status_$student_id').style.visibility='hidden';doDivAjaxCall${formName}('student_$student_id', 'set_status', 'status_id=$status.id&student_id=$student_id&counter=$cnt&bgcolor=$!bgcolor')">
$status.name
</a>
</td>
</tr>
#end
<tr>
<td style="font-weight:bold" onmouseover="this.style.background='#E2E2FE';" onmouseout="this.style.background='#FFFF99';">
<a href="javascript:void()" onclick="$('div_set_status_$student_id').style.visibility='hidden';doDivAjaxCall${formName}('student_$student_id', 'set_status_null', 'student_id=$student_id&counter=$cnt&bgcolor=$!bgcolor')">
RESTORE
</a>
</td></tr>

</table>
</td>
<td style="width:5px" valign="top">
<span style="background-color:#000000"><a href="javascript:void()" onclick="$('div_set_status_$student_id').style.visibility='hidden';" style="color:#ffffff;text-decoration:none;font-weight:bold">x</a></span>

</td>
</tr>
</table>