<script>calndr.showNavigationDropdowns();</script>
<style>
.shadow { -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
.gradient { background: -moz-linear-gradient(top, #E1E1E1 0%, #B4B4B4 100%); }
.text {border-bottom:1px solid #C3C3C3; border-top:none; border-left:none; border-right:1px solid #C3C3C3; height:30px; width:100%}
.fset { background-color:#E2FEE2}
</style>

<table width="800">
<tr><td align="right">
[$href.command("").text("Back")]
</td></tr>
<tr><td>

<fieldset style="background-color:#9999CC;border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">
<legend style="font-family:arial;font-size:12pt;font-weight:bold">MARKS ENTRY</legend>

<table width="100%">
<tr><td style="width:100px">Program:</td><td style="font-weight:bold">$program.code $program.name</td></tr>
<tr><td>Session:</td><td style="font-weight:bold">$session.code $session.name</td></tr>
<tr><td>Semester:</td><td style="font-weight:bold">$period.name #if ( $period.parent ) ($period.parent.name) #end</td></tr>
</table>

</fieldset>

<br><br>

<table width="100%" cellpadding="2" cellspacing="0">
<tr class="gradient" height="30px" bgcolor="lightgrey">
<td></td>
<td colspan="2" align="center" style="font-weight:bold">Subject</td>
<td></td>
</tr>

#set ( $cnt = 0 )
#foreach( $s in $subjects )
#set ( $cnt = $cnt + 1 )
#if ( $cnt % 2 == 0 ) <tr bgcolor="#FFFFAA"> #else <tr> #end
<td class="gradient" style="width:30px" align="right">$cnt)</td>
<td>$s.code</td>
<td>$s.name</td>
<td align="right">
<input class="gradient" style="height:30px" type="button" value="List Students..."  
##onclick="doAjaxCall$formname('list_students','subject_id=$s.id')">
onclick="doAjaxCall$formname('list_sections','subject_id=$s.id')">
</td>
</tr>
#end
</table>


</td></tr></table>

<input type="hidden" name="program_id" value="$!program.id">
<input type="hidden" name="session_id" value="$!session.id">
<input type="hidden" name="period_id" value="$!period.id">

