

<div style="padding:20px">
<div id="chartContainer" style="height: 400px; width: 100%; border:1px dotted #000"></div>
</div>


<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Monthly Collections"
	},
	axisY: {
		title: "Ringgit Malaysia"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		legendText: "MONTHS",
		dataPoints: [      
			
			#foreach ( $d in $dataList )
				{ y: $d.value, label: "$d.monthName" },
			#end
			
		]
	}]
});
chart.render();

}


</script>