<ul class="list-group">
#foreach( $r in $classroomTemplate.group.rooms )
	<li class="list-group-item">
		$!r.description,
		$!r.name, $r.floor.name, $r.floor.block.name,<br/>$r.floor.block.building.name
	</li>
#end
</ul>