
<div id="handleSelectGroup2" style="background:#3071A9;padding:10px">

	<table style="width:100%">
		<tr>
			<td style="color:#fff">Select Groups</td>
			<td align="right">
			
				<button type="button" class="btn btn-info btn-sm" onclick="doDivAjaxCall$formname('listGroups','saveGroups','classroomTemplateId=$!classroomTemplate.id');$('classroomOptions').style.display='none';">OK</button>
				<button type="button" class="btn btn-info btn-sm" onclick="$('classroomOptions').style.display='none';">X</button>
			
			</td>
			</tr>
		</table>
  	
</div>
	
	<div id="divClassroomGroups" style="height:350px;overflow:auto;overflow-x:hidden;">
		<table class="table table-striped table-hover">
		
		<tbody>
			#foreach( $g in $classroomGroups )
				<tr>
					<td>$g.code</td>
					<td>$g.name</td>
					<td>$g.studyMode.name</td>
					<td>
						<input type="checkbox" name="groupIds" value="$g.id" #if ($classroomTemplate.group.facultyGroups.contains($g)) checked #end>
					</td>
				</tr>
			#end
			<tr>
				<td colspan="4" align="right">
					<button type="button" class="btn btn-primary" onclick="doDivAjaxCall$formname('listGroups','saveGroups','classroomTemplateId=$!classroomTemplate.id');$('classroomOptions').style.display='none';">Save</button>
					<button type="button" class="btn btn-info" onclick="$('classroomOptions').style.display='none';">Cancel</button>
				</td>
			</tr>
		</tbody>
		</table>
		
	</div>
	
	
	
<script>new Draggable('classroomOptions', {handle: 'handleSelectGroup2'});</script>
	
