<div id="handleSelectRoom" style="background:#3071A9;padding:10px;cursor:pointer">

	<table style="width:100%">
		<tr>
			<td style="color:#fff">Select Rooms</td>
			<td align="right">
				<button type="button" class="btn btn-info btn-sm" onclick="doDivAjaxCall$formname('listRooms','saveRooms','classroomTemplateId=$!classroomTemplate.id');$('classroomOptions').style.display='none';">OK</button>
				<button type="button" class="btn btn-info btn-sm" onclick="$('classroomOptions').style.display='none';">X</button>
			
			</td>
			</tr>
		</table>
</div>
##select rooms for $activityType.name

 
<div id="divFilterParams">
		<table style="width:100%">
			<tr>
			
				<td style="width:10%;text-align:center">
					Campus: 
				</td>
				
				<td style="width:45%">
					<select class="form-control" name="filterCampusId" onchange="doDivAjaxCall$formname('classroomOptions','selectRooms','classroomTemplateId=$!classroomTemplate.id')">
						<option value="">(My Campus)</option>
						#foreach( $c in $campuses )
							<option value="$c.id" #if ( $filterCampusId == $c.id ) selected #end>$c.aimCampus.id - $c.name</option>
						#end
					</select>
				</td>
				

			</tr>
			
			<tr>
			
				<td style="width:10%;text-align:center">
					Faculty:
				</td>
				
				<td>
					
					<select class="form-control" name="filterDepartmentId" id="filterDepartmentId"  onchange="doDivAjaxCall$formname('classroomOptions','selectRooms','classroomTemplateId=$!classroomTemplate.id')">
						<option value=""></option>
						#foreach( $d in $departmentList )
							<option value="$d.id" #if ( $filterDepartmentId == $d.id ) selected #end>$d.aimDepartment.id - $d.aimDepartment.name</option>
						#end
					</select>
				
				</td>
				
			</tr>
			
			
		</table>
	
	</div>


<div id="divClassroomGroups" style="height:400px;overflow:auto;overflow-x:hidden;">
	<table class="table table-striped table-hover">
	
	<thead>
		<tr>
			<th>Code, Name</th>
			<th>Location</th>
			<th>Capacity</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		#foreach( $r in $rooms )
			#set ( $show = "no" )
			#foreach ( $t in $r.activityTypes )
				#if ( $activityType.id == $t.id )
					#set ( $show = "yes" )
				#end
			#end
			
			#if ( $show == "yes" )
			
			<tr>
				<td>$r.code<br/>$r.name</td>
				<td>
					$r.floor.name, $r.floor.block.name,<br/>$r.floor.block.building.name
				
					<br/>
					#if ( !$r.availability )
						#if ( $r.dateTimeNotAvailableFrom )
							<span style="color:#ed5555">
							Not Available from: 
							#if ( $r.dateTimeNotAvailableFrom )
								$dateFormat.format($r.dateTimeNotAvailableFrom)
							#end
							to
							#if ( $r.dateTimeNotAvailableTo )
								$dateFormat.format($r.dateTimeNotAvailableTo)
							#end
							</span>
						#end
					#end
					
				</td>
				<td>$r.capacity</td>
				<td>
					<input type="checkbox" name="roomIds" #if ( $classroomTemplate.group.rooms.contains($r) ) checked #end value="$r.id">
				</td>
			</tr>
			
			#end
		#end
		<tr>
			<td colspan="6" align="right">
				<button type="button" class="btn btn-primary" onclick="doDivAjaxCall$formname('listRooms','saveRooms','classroomTemplateId=$!classroomTemplate.id');$('classroomOptions').style.display='none';">OK</button>
			</td>
		</tr>
	</tbody>
	</table>
	
</div>


<script>new Draggable('classroomOptions', {handle: 'handleSelectRoom'});</script>

