<table width="80%" cellpadding="1" cellspacing="2">
<tr><td  style="width:100px"></td><td style="width:10px"></td><td></td></tr>
<tr><td >Title</td><td>:</td><td><input class="texts" type="text" name="find_title" value="$!find_title"></td></tr>
<tr><td >Type</td><td>:</td><td><input class="texts" type="text" name="find_type" value="$!find_type"></td></tr>
</table>