<table width="100%" style="height:30px">
<tr><td style="font-weight:bold">
List Of Sessions
</td></tr>
</table>
<table>
<tr style="height:30px;background:#D0D6DB">
<td style="width:40px"></td>
<td style="width:150px;">Session Date</td>
<td style="width:350px;">Councellor</td>
<td style="width:400px;">Summary</td>
<td>&nbsp;</td>
</tr>
#set ( $cnt = 0 )
#foreach( $s in $councellingSessions )
#set ( $cnt = $cnt + 1 )
<tr style="background:#EFF4F9">
<td>$cnt.</td>
<td>#if ( $s.sessionDate ) $dateFormat.format($s.sessionDate)#end</td>
<td>$!s.councellor.name</td>
<td>$!s.sessionSummary</td>
<td align="right">
<input class="linkbutton" type="button" value="..." onclick="doDivAjaxCall3$formname('sessions','editSession','sessionId=$s.id')">
</td>
</tr>
#end
</table>
<br/>
<table width="100%"><tr><td>
<input class="linkbutton" type="button" style="font-weight:bold" value="New Councelling Session" onclick="doDivAjaxCall3$formname('sessions','addNewSession','councellingId=$councelling.id')">
<input class="linkbutton" type="button" value="Close"  onclick="$('addCase').style.display='none'">
</td></tr></table>
<br/>
<br/>
<script>
$('counter_$councelling.id').innerHTML = "$!councellingSessions.size()";
</script>