<table width="100%" align="center">
<tr><td align="center" style="height:40px;font-family:Verdana, sans-serif;font-weight:bold;font-size:14pt;">ALUMNI SECRETARIAT</td></tr>
#set ( $cnt = 0 )
#foreach( $s in $secretariats )
<tr><td align="center" style="height:30px;font-family:Verdana, sans-serif;font-weight:bold;font-size:12pt;background:#C7D1E8">$s.position.name</td></tr>
<tr><td align="center">
<div>
#if ( $s.member.photoFileName )
	##<img id="imgPhoto" src="../download?file=$!s.member.photoFileName">
	<img id="imgPhoto" src="../servlet/educate.alumni.module.MemberImgSrc?id=$s.member.id&type=profile">
#else
	<img id="imgPhoto" src="">
#end
</div>
</td></tr>
<tr><td align="center" style="height:40px;font-weight:bold;font-size:12pt;">$s.member.fullName</td></tr>
<tr><td align="center" style="height:20px;font-weight:bold;"></td></tr>
#end
</table>

