<select class="input-text" style="width:400px" id="sessionId" name="sessionId">
<option value=""></option>
#foreach ( $s in $sessions )
<option value="$s.id">$s.code $s.name</option>
#end
</select>
