<script>
function getCheckedCheckboxesFor(checkboxName) {
    var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
    Array.prototype.forEach.call(checkboxes, function(el) {
        values.push(el.value);
		alert(el.value);
    });
    return values;
}

function checkBoxesSelected(checkboxName) {
	var cnt = 0;
	var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
    Array.prototype.forEach.call(checkboxes, function(el) {
        cnt++;
    });
    return cnt > 1;
}
</script>