#if ( $count % 2 == 0 )
	#set ( $rowcolor = "#DCE0E2" )
#else
	#set ( $rowcolor = "#EFF5F9" )
#end

#if ( $r.status == "approved" )
	#set ( $rowcolor = "#F2F2A9" )
#elseif ( $r.status == "pending" )
	#set ( $rowcolor = "#FFF" )
#end

