
</table>
<table style="background:#D6E2EE;-moz-box-shadow: 5px 5px 5px #888; -webkit-box-shadow: 5px 5px 5px #888; box-shadow: 5px 5px 5px #888; ">
<tr><td style="background:#350BED;color:#fff;font-weight:bold">
<table width="100%" cellpadding="0" cellspacing="0"><tr height="30px"><td style="background:#350BED;color:#fff;font-weight:bold">
#if ( $program )
$program.code $program.name
#else
Add New Program
#end
</td><td align="right">

#if ( $row == "0" )
<input class="linkbutton" type="button" style="width:100px" value="Add" onclick="doDivAjaxCall3$formname('main_program','addProgram','')">
#else
<input class="linkbutton" type="button" style="width:100px" value="Save" onclick="doDivAjaxCall3$formname('program_$row','saveProgram','row=$row&programId=$program.id')">
#end

<input class="linkbutton" type="button" style="width:30px" value="X" onclick="$('edit_program_$row').innerHTML = '';">
</td></tr></table>
</td></tr>
<tr><td>

<table>

<tr><td style="width:250px">Code:</td><td style="width:600px">
<input class="textr" name="code_$row" value="$!program.code">
</td></tr>

<tr><td style="width:250px">Name:</td><td>
<input class="textr" name="name_$row" value="$!program.name">
</td></tr>

<tr><td style="width:250px">Level:</td><td>
<select class="textr" id="level_$row" name="level_$row">
<option value="1" #if ( $program.level == 1 ) selected #end>FOUNDATION</option>
<option value="2" #if ( $program.level == 2 ) selected #end>DIPLOMA</option>
<option value="3" #if ( $program.level == 3 ) selected #end>BACHELOR</option>
<option value="4" #if ( $program.level == 4 ) selected #end>MASTER</option>
<option value="5" #if ( $program.level == 5 ) selected #end>DOCTORATE</option>
</select>


</td></tr>

<tr><td style="width:250px">Duration of Study:</td><td>
<input class="textr" name="studyDuration_$row" value="$!program.studyDuration">
</td></tr>

<tr><td style="width:250px">Mode Of Study:</td><td>
<input type="checkbox" name="fullTime_$row" value="1" #if ( $program.fullTime == 1 ) checked #end>Full Time

<input type="checkbox" name="partTime_$row" value="1" #if ( $program.partTime == 1 ) checked #end> Part Time
</td></tr>

<tr><td>Require Interview:</td><td>
<input type="radio" name="hasInterview_$row" value="1" #if ( $program.hasInterview == 1 ) checked #end>Yes
<input type="radio" name="hasInterview_$row" value="0" #if ( $program.hasInterview == 0 ) checked #end>No
</td></tr>

<tr><td>Research:</td><td>
<input type="radio" name="research_$row" value="1" #if ( $program.research == 1 ) checked #end>Yes
<input type="radio" name="research_$row" value="0" #if ( $program.research == 0 ) checked #end>No
</td></tr>

<tr><td style="width:250px">Registration Fee:</td><td>
<input class="textr" name="registrationFee_$row" value="$!program.registrationFee">
</td></tr>

<tr><td style="width:250px">Registration Fee (International):</td><td>
<input class="textr" name="registrationFeeInternational_$row" value="$!program.registrationFeeInternational">
</td></tr>

<tr><td style="width:250px">Total Payment:</td><td>
<input class="textr" name="totalPayment_$row" value="$!program.totalPayment">
</td></tr>

<tr><td style="width:250px">Total Payment (International):</td><td>
<input class="textr" name="totalPaymentInternational_$row" value="$!program.totalPaymentInternational">
</td></tr>

<tr><td style="width:250px">Leading To:</td><td>
<select class="textr" name="leadToId_$row">
<option value=""></option>
#foreach( $p in $programs )
<option value="$p.id" #if ( $program.leadingTo.id == $p.id ) selected #end>$p.code $p.name</option>
#end
</select>
</td></tr>


<tr><td colspan="2">
<br/>
<span>
Please enter the Reference Number templates for each type of letters.<br/>
Example:  <b>CUCMS/AD-U/FOM/MBBS/1-1(&amp;/{YY})</b><br/>
where <b>&amp;</b> represent location of running number, and <b>{YY}</b> represent current year.
</span>
</td></tr>

<tr><td style="width:250px">Ref. No. (Cond. Offer Letter):</td><td>
<input class="textr" name="conditionalOfferRef_$row" value="$!program.conditionalOfferRef">
</td></tr>


<tr><td style="width:250px">Ref. No. (Interview):</td><td>
<input class="textr" name="interviewRef_$row" value="$!program.interviewRef">
</td></tr>

<tr><td style="width:250px">Ref. No. (Offer Letter):</td><td>
<input class="textr" name="offerRef_$row" value="$!program.offerRef">
</td></tr>

<tr><td style="width:250px">Offer Letter Template:</td><td>
<input class="textr" name="offerLetterTemplate_$row" value="$!program.offerLetterTemplate">
</td></tr>

<tr><td colspan="2">
<br/>
<span style="font-weight:bold">Upload supplementary documents</span>
</td></tr>
#if ( $program )

##documents
#foreach ( $num in [1..20] )
<tr><td style="width:250px;padding-top:7px" valign="top">Suplementary Document $num:</td><td>
<table>
<tr><td style="width:250px">
<input type="file" id="document$num" name="document$num" style="width:200px">
</td><td>
<input type="button" value="Upload" onclick="uploadDocument('$!program.id', 'document$num', 'divDocument${num}_${row}')">
<input type="button" value="Remove" onclick="if ( !confirm('Remove document?') ) return; doDivAjaxCall3$formname('divDocument${num}_${row}','deleteDocument','program_id=$program.id&documentId=document$num')">
</td></tr>
</table>
<table>
<tr>
<td colspan="2">
<span id="divDocument${num}_${row}">
#set ( $document = "" )

#if ( $num == 1 ) #set ( $document = $program.document1 )
#elseif ( $num == 2 ) #set ( $document = $program.document2 )
#elseif ( $num == 3 ) #set ( $document = $program.document3 )
#elseif ( $num == 4 ) #set ( $document = $program.document4 )
#elseif ( $num == 5 ) #set ( $document = $program.document5 )
#elseif ( $num == 6 ) #set ( $document = $program.document6 )
#elseif ( $num == 7 ) #set ( $document = $program.document7 )
#elseif ( $num == 8 ) #set ( $document = $program.document8 )
#elseif ( $num == 9 ) #set ( $document = $program.document9 )
#elseif ( $num == 10 ) #set ( $document = $program.document10 )
#elseif ( $num == 11 ) #set ( $document = $program.document11 )
#elseif ( $num == 12 ) #set ( $document = $program.document12 )
#elseif ( $num == 13 ) #set ( $document = $program.document13 )
#elseif ( $num == 14 ) #set ( $document = $program.document14 )
#elseif ( $num == 15 ) #set ( $document = $program.document15 )
#elseif ( $num == 16 ) #set ( $document = $program.document16 )
#elseif ( $num == 17 ) #set ( $document = $program.document17 )
#elseif ( $num == 18 ) #set ( $document = $program.document18 )
#elseif ( $num == 19 ) #set ( $document = $program.document19 )
#elseif ( $num == 20 ) #set ( $document = $program.document20 )
#end

#if ( $document != "" )
<a href="../download?file=$document" style="">$fileNameUtil.filePart("$document")</a>
#end
</span>
</td>
<td>
</td>
</tr>
</table>
</td></tr>
#end


#end



</td></tr>

<tr><td colspan="3" align="center">
<br/>
#if ( $row == "0" )
<input class="linkbutton" type="button" style="width:100px" value="Add" onclick="doDivAjaxCall3$formname('main_program','addProgram','')">
#else
<input class="linkbutton" type="button" style="width:100px" value="Save" onclick="doDivAjaxCall3$formname('program_$row','saveProgram','row=$row&programId=$program.id')">
#end
<input class="linkbutton" type="button" style="width:100px" value="Close" onclick="$('edit_program_$row').innerHTML = '';">
<br/>
<br/>
</td></tr>

</table>
<br/><br/>