<style>
.shadow { -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
.gradient { background: -moz-linear-gradient(top, #E1E1E1 0%, #B4B4B4 100%); }
.text {border-bottom:1px solid #C3C3C3; border-top:none; border-left:none; border-right:1px solid #C3C3C3; height:30px; width:100%}
</style>
<table width="800">
<tr><td>
Select Accomodation: <select id="accomodation_id" name="accomodation_id" style="width:300px" onchange="doDivAjaxChainCall$formname('div1','get_accomodation','','div_students','list_students','')">
<option value=""> - Select Accomodation - </option>
#foreach( $a in $accomodations )
<option value="$a.id">$a.name</option>
#end
</select>
<select id="gender_id" name="gender_id"  onchange="doDivAjaxChainCall$formname('div1','get_accomodation','','div_students','list_students','')">
<option value="L">MALE</option>
<option value="P">FEMALE</option>
</select>
<input type="button" value="LIST STUDENTS.." onclick="doDivAjaxChainCall$formname('div1','get_accomodation','','div_students','list_students','')">
</td></tr>

<tr><td>
<div id="div1">
</div>
</td></tr>

<tr><td>
<div id="div_students">
#parse("apps/util/accomodation_status/students.vm")
</div>
</td></tr>
<tr><td>
<div id="div_empty"></div>
</td></tr>
</table>