#if ( $accomodation )

<div id="div_find_students">
#if ( $_message )
#if ( $_message == "student_is_checked" )
<b>$student.biodata.name has already being checked for accomodation in $checked_accomodation.name at $dateFormat.format($checked_date)</b>
#elseif ( $_message == "successfull" )
<b>$student.biodata.name is checked for accomodation in $checked_accomodation.name at $dateFormat.format($checked_date)</b>
<br>
<a href="javascript:void()"
onclick="window.open('../y/educate.sis.module.StudentAccomodationStatusModule?command=accomodation_confirmation&student_id=$student.id&accomodation_status_id=$accomodation_status.id','mywin','left=20,top=20,width=800,height=500,toolbar=0,resizable=0, scrollbars=yes');">
Print Accomodation Confirmation Letter
</a>

</br>
#end
#end
</div>
<br>
<table width="100%">
<tr height="30px">
<td class="gradient" style="width:30px">&nbsp;</td>
<td class="gradient" style="width:100px">Matric No</td>
<td class="gradient" style="width:100px">IC No/Passport</td>
<td class="gradient">Name</td>
<td class="gradient" style="width:50px" align="center">Gender</td>
<td class="gradient" style="width:100px" align="center">Date</td>
<td class="gradient" style="width:50px">
<input type="button" value="Check-out" onclick="doDivAjaxCall$formname('div_students','checkout_selection','accomodation_id=$accomodation.id')">
</td>
<td class="gradient" style="width:50px">&nbsp;</td>
</tr>
#foreach( $s in $students )
<tr>
<td>$velocityCount.</td>
<td>$s.student.matricNo</td>
<td>#if ( $s.student.biodata.icno != "" ) $s.student.biodata.icno #else $s.student.biodata.passport #end</td>
<td>$s.student.biodata.name</td>
<td align="center">
#if ( $s.student.biodata.gender )
$s.student.biodata.gender.id
#end
</td>
<td align="center">$dateFormat.format($s.date)</td>
<td align="center">
<input type="checkbox" id="status_ids" name="status_ids" value="$s.id" #if ( $s.expired ) checked #end></td>
<td align="center">
<a href="javascript:void()"
onclick="window.open('../y/educate.sis.module.StudentAccomodationStatusModule?command=accomodation_confirmation&student_id=$s.student.id&accomodation_status_id=$s.id','mywin','left=20,top=20,width=800,height=500,toolbar=0,resizable=0, scrollbars=yes');">
Print
</a>
</td>
</tr>
#end
</table>

<table width="100%">
<tr><td>

</td></tr>
</table>

<script>
$('div_quota').innerHTML = "$!quota_balance";
</script>
#end