<table width="600" align="center">
<tr>
<td style="width:50px"></td>
<td style="width:200px"><input name="contact_name_$contact.id" value="$contact.name"></td>
<td style="width:200px"><input name="contact_address_$contact.id" value="$contact.address"></td>

<td>

<input type="button" value="UPDATE" onclick="doDivAjaxCall$formname('div_contact_$contact.id','save_contact','contact_id=$contact.id')">

</td>
</tr>
</table>