<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td width="25px">${cnt}.</td>
<td width="50px"><input name="block_code" id="block_code" value="$block.code" style="width:100%;height:20px;border-top:none;border-bottom:none;border-left:none;border-right:none"></td>
<td width="280px"><input name="block_name" id="block_name" value="$block.name" style="width:100%;height:20px;border-top:none;border-bottom:none;border-left:none;border-right:none"></td>
<td align="right">
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_block_$block.id','update_block','block_id=$block.id&building_id=$building.id&cnt=$cnt')"><img src="../img/item/righta.png" border="0"></a>
</td>
</tr>
</table>