<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td width="25px">${cnt}.</td>
<td width="50px">$building.code</td>
<td width="280px">$building.name</td>
<td align="right">
<a href="javascript:void()" onclick="if ( !confirm('Are you sure?') ) return; doDivAjaxCall$formname('div_building','delete_building','building_id=$building.id')"><img src="../img/item/delete.gif" border="0"></a>
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_building_$building.id','edit_building','building_id=$building.id&cnt=$cnt')"><img src="../img/item/edit.gif" border="0"></a>
<a href="javascript:void()" onclick="doDivAjaxCall$formname('div_block','list_blocks','building_id=$building.id');$('div_floor').innerHTML='';$('div_room').innerHTML='';$('selected_building_name').innerHTML=': $building.name';$('selected_block_name').innerHTML='';$('selected_floor_name').innerHTML=''"><img src="../img/item/right.gif" border="0"></a>
</td>
</tr>
</table>