<table>
<tr>
<td colspan="9" align="right">
<input type="button" value="Add" onclick="doDivAjaxCall3$formname('billUtility','addBillUtility','')">
</td>
</tr>
<tr style="background:#D1D1D1">
<td style="width:30px;height:30px;"></td>
<td style="width:150px;" align="center">Utility</td>
<td style="width:100px;" align="center">Date</td>
<td style="width:150px;" align="center">Previous Reading</td>
<td style="width:150px;" align="center">Latest Reading</td>
<td style="width:150px;" align="center">Amount Payable</td>
<td style="width:50px;">&nbsp;</td>
</tr>

#set ( $cnt = 0 )
#foreach( $b in $billUtilities )
#set ( $cnt = $cnt + 1 )
<tr style="height:25px;background:#E8E8EA">
<td>$cnt.</td>
<td>$b.type.name</td>
<td align="center">$df.format($b.dateMeterReading)</td>
<td align="right" style="padding-right:20px">$b.previousMeterReading</td>
<td align="right" style="padding-right:20px">$b.latestMeterReading</td>
<td align="right" style="padding-right:20px">$mf.format($b.totalAmountPayable)</td>
<td align="center"><input type="button" class="linkbutton" value="..." onclick="doDivAjaxCall3$formname('billUtility','editBillUtility','billId=$b.id')"></td>
</tr>
#end
</table>

<script>
$('billUtility').style.display="none";
</script>
