<link rel="stylesheet" href="../admission/style.css" type="text/css" media="screen" />
<script>calndr.showNavigationDropdowns();</script>

<div id="divSelectParam">#parse("admission/subject_registration_admin/select_params.vm")</div>
<br/>
<div id="listStudents"></div>