<table width="100%">
<tr><td style="font-family:verdana;font-size:12pt">

$util.putLineBreak($letter.text)


</td></tr>
<tr><td align="right">
<input class="gradient" style="height:30px" type="button" value="Edit" onclick="doDivAjaxCall$formname('div_letter','edit','')">
</td></tr></table>
