<script>
$('listRoles').style.display="none";
</script>

<div>
<label>Role ID</label>
<input class="form-control" id="roleName" name="roleName" style="width:300px">
<label>Description</label>
<input class="form-control" id="roleDescription" name="roleDescription" style="width:300px">
<br/>
<button type="button" class="btn btn-default" onclick="doDivAjaxCall$formname('listRoles','addNewRole','')">Add New Role</button>
<button type="button" class="btn btn-default" onclick="doDivAjaxCall$formname('listRoles','listRoles','')">Cancel</button>
</div>

