

#if ( $intakes )
<table>
	<tr style="height:40px">
		<td style="width:100px">Intake:</td>
		<td style="width:400px">
			
			
			
				<select class="texts" name="intakeId" onchange="$('getAgingReport').innerHTML=''">
					<option value="">(ALL)</option>
					#foreach( $i in $intakes )
						<option value="$i.id">$i.name</option>
					#end
				</select>

		</td>
	</tr>
</table>

#else
	<input type="hidden" name="intakeId" value="">
#end