<link rel="stylesheet" href="../facilities/style.css" type="text/css" media="screen" />
<script>calndr.showNavigationDropdowns();</script>

<div>
#parse("apps/hostel_type/divHostel.vm")
</div>
<div id="empty"></div>