
#macro ( title $title )
<tr><td colspan="3"></td></tr>
<tr><td class="section_title" colspan="3">$title</td></tr>
<tr><td colspan="3"></td></tr>
#end

#macro ( input $input_id $input_title $value)
<tr><td  valign="top">$input_title</td><td valign="top">:</td><td>
<input class="texts" type="text" id="$input_id" name="$input_id" value="$value" onkeyup="at(this, event)">
</td></tr>
#end

#macro ( input_required $input_id $input_title $value)
<tr><td  valign="top"><span style="color:#FF2A00">*</span>&nbsp;$input_title</td><td valign="top">:</td><td>
<input class="texts" type="text" id="$input_id" name="$input_id" value="$value" onkeyup=" $('err_$input_id').innerHTML=''; at(this, event);">
<div id="err_$input_id" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
</td></tr>
#end

#macro ( textarea $input_id $input_title $value)
<tr><td  valign="top">$input_title</td><td valign="top">:</td><td>
<textarea class="textarea" id="$input_id" name="$input_id">$value</textarea>
</td></tr>
#end

#macro ( textarea_required $input_id $input_title $value)
<tr><td  valign="top"><span style="color:#FF2A00">*</span>&nbsp;$input_title</td><td valign="top">:</td><td>
<textarea class="textarea" id="$input_id" name="$input_id" onkeyup=" $('err_$input_id').innerHTML=''; at(this, event);">$value</textarea>
<div id="err_$input_id" style="color:#CC0000;font-weight:bold;border:2px #000"></div>
</td></tr>
#end

#macro ( select $input_id $input_title $list $value)
<tr><td  valign="top">$input_title</td><td valign="top">:</td><td>
<select class="texts" id="$input_id" name="$input_id" value="$value">
<option value=""></option>
#foreach( $i in $list )
<option #if ( $i.id == $value ) selected #end value="$i.id">$i.name</option>
#end
</select>
</td></tr>
#end

#macro ( date_input $input_id $input_title $value )
<tr><td >$input_title</td><td>:</td><td>
$html.dateField.name("$input_id").value("$value").style("width:100px").cssClass("texts")
</td></tr>
#end

<div style="height:500px;overflow:auto">
<fieldset>
<legend class="legend">$label_entry</legend>
<table width="100%">

<tr><td style="width:100px"></td><td style="width:10px"></td><td></td></tr>
<tr><td>Vehicle Type</td><td>:</td>
<td>
<select class="texts" name="vehicleTypeId">
<option value=""></option>
#foreach( $c in $vehicleTypes )
<option value="$c.id" #if ( $r.type.id == $c.id ) selected #end>$c.name</option>
#end
</select>
</td>
</tr>

#input("registrationNo" "Registration No" "$!r.registrationNo")
#input("brandName" "Brand" "$!r.brandName")
#input("modelName" "Model" "$!r.modelName")

#input("chasisNo" "Chasis No" "$!r.chasisNo")
#input("engineNo" "Engine No" "$!r.engineNo")

<tr><td valign="top">Photo</td><td valign="top">:</td>
<td>
<div>
#if ( $r.photoFileName )
	<img id="imgVehicle" src="../download?file=$!r.photoFileName">
#else
	<img id="imgVehicle" src="">
#end
</div>
<br/>
<input class="texts" type="file" id="vehiclePhoto" name="vehiclePhoto" style="width:200px">&nbsp;
<input class="button" type="button" value="Upload" onclick="uploadFile('$!r.id','vehiclePhoto', 'divUploadFile')">
<input type="hidden" id="photoFileName" name="photoFileName" value="$!r.photoFileName">
<div id="divUploadFile"></div>
</td>
</tr>

</table>
<br/>
<table>
<table width="100%"><tr><td align="right">
<input class="button" type="button" value="Vehicle Movement Log" onclick="doDivAjaxCall3$formname('vehicleMovementLog','vehicleMovementLog','vehicleId=$r.id')">
<input class="button" type="button" value="Road Tax/Insurance Renewal Log" onclick="doDivAjaxCall3$formname('vehicleMovementLog','roadtaxRenewalLog','vehicleId=$r.id')">
</td></tr></table>
<div id="vehicleMovementLog" style=""></div>
</fieldset>
</div>


