<script>
$('divRemark').style.display="block";
</script>

<table width="100%" cellpadding="0" cellspacing="0">
<tr style="height:30px;background:#AFAEAE"><td></td>
<td align="right">
</td></tr></table>

$dateFormat.applyPattern("d MMM, yyyy")
<table width="100%">
<tr><td style="width:180px"></td><td style="width:10px"></td><td></td></tr>
<tr><td style="height:25px">Destination</td><td>:</td><td>$movementLog.destinationName</td></tr>
<tr><td style="height:25px">Depart</td><td>:</td><td>$dateFormat.format($movementLog.departDateTime)</td></tr>
<tr><td style="height:25px">Expected</td><td>:</td><td>$dateFormat.format($movementLog.expectedReturnDateTime)</td></tr>
<tr><td style="height:25px">Return Date</td><td>:</td>
<td>
$dateFormat.applyPattern("dd-MM-yyyy")

#if ( $movementLog.returnDateTime ) #set ( $dateValue = $dateFormat.format($movementLog.returnDateTime) ) #else #set ( $dateValue = "" ) #end

<input class="texts" style="width:100px" id="returnDateTime" name="returnDateTime" value="$dateValue">
<script> new JsDatePick({ useMode:2, target:"returnDateTime", dateFormat:"%d-%m-%Y" }); </script>

<select name="returnDateTimeHour">
#foreach ( $h in [0..23] )
<option value="$h">$h</option>
#end
</select>
<select name="returnDateTimeMinute">
<option value="0">00</option>
<option value="5">05</option>
<option value="10">10</option>
<option value="15">15</option>
<option value="20">20</option>
<option value="25">25</option>
<option value="30">30</option>
<option value="35">35</option>
<option value="40">40</option>
<option value="45">45</option>
<option value="50">50</option>
<option value="55">55</option>
</select>
</td></tr>


<td>Odometer (On Depart)</td><td>:</td><td><input class="texts" id="odometerDepart2" name="odometerDepart2" value="$!movementLog.odometerDepart"></td></tr>
<td>Odometer (On Return)</td><td>:</td><td><input class="texts" id="odometerReturn" name="odometerReturn" value="$!movementLog.odometerReturn"></td></tr>


<tr><td style="height:25px" valign="top">Remark</td><td valign="top">:</td>
<td>
<textarea class="texts" name="destinationRemark" style="height:100px">$movementLog.destinationRemark</textarea>
</td></tr>
</table>

<table width="100%" style="height:40px"><tr><td align="center">
<input class="linkbutton" type="button" value="Save" onclick="$('divRemark').style.display='none';doDivAjaxCall3$formname('movementLogRecords','updateMovementLog','movementLogId=$movementLog.id')">
<input class="linkbutton" type="button" value="Cancel" onclick="$('divRemark').style.display='none';">
</td></tr></table>

	