<script>
parent.document.getElementById('${divUploadStatusName}').innerHTML = "";
parent.document.getElementById('photoFileName').value = "$!serverFileName";
parent.document.getElementById("imgVehicle").src="../download?file=$!serverFileName";
</script>