
<td class="record_header" style="width:100px;font-weight:bold">Utility Type</td>
<td class="record_header" style="width:100px;font-weight:bold">Account No</td>
<td class="record_header" style="width:200px;font-weight:bold">Month</td>
<td class="record_header" style="width:200px;font-weight:bold">Year</td>
<td class="record_header" style="width:200px;font-weight:bold">Amount</td>
<td class="record_header" style="width:200px;font-weight:bold">Unit</td>




