<font face="verdana">
<b>Welcome to In-fusion portal!</b><br/>
A web portal is a web site that provides a starting point, a gateway, or portal, to other resources on the Internet or Intranet. The building blocks of portals are portlets. Portals typically provide personalization capabilities to their users. 
<br>
<br>
The In-fusion portal that you see now, is currently under initial-stage of it's development.  This is
the first version and was developed in-house by the Software Team of <b>In-fusion Technology Unit</b>.
<br>
<br>
</font>

