<table width="600" align="center">
<tr><td style="font-family:arial;font-weight:bold;font-size:12pt">
Assignment - Academic Facilitator's Batch Upload
</td></tr>
<tr><td>
<hr/>
</td></tr>
<tr><td style="font-family:arial;font-weight:bold;font-size:12pt">
STEP 3: Select Subject(s) to which this assignment will be posted.
</td></tr>

<tr><td>

<table width="800" align="center">
<tr><td valign="top"  width="46%">

<table width="100%">
<tr><td style="font-weight:bold">Check on subject to add:</td></tr>
</table>

		<div style="overflow:auto;top:0;height:300px; width:100%; background-color:lightgrey">
<table width="100%">
#foreach ( $subject in $subjects )
<tr>
<td><input type="checkbox" name="subject_ids" value="$subject.id"></td>
<td valign="top">$subject.code</td>
<td valign="top">$subject.name</td>
</tr>
#end

</table>
</div>


<table width="100%">
<tr><td><b>Select subjects in the faculty of:</b></td></tr>
<tr><td>
<ul>
#foreach ( $f in $faculties )
#if ( $f.id == $faculty.id )
<li><font style="font-weight:bold; color:blue">$f.name</font>
#else
<li>$href.command("list_subjects_faculty").param("teacher_id=$!teacher.id, faculty_id=$!f.id").text("$f.name")
#end
#end
</ul>
</td></tr>
</table>

</td><td align="center" width="8%" valign="top">
<br/><br/>
$button.command("list_subjects_faculty").param("teacher_id=$!teacher.id, faculty_id=$!faculty.id").style("width:40px;height:50px;font-weight:bold;font-family:helvetica").text("&lt;&nbsp;&gt;")


</td><td valign="top" width="46%">




<table width="100%">
<tr><td colspan="5" style="font-weight:bold">Check on subject to remove:</td></tr>
</table>


		<div style="overflow:auto;top:0;height:300px; width:100%; background-color:lightgrey" >
<table width="100%">
#foreach( $subject in $selected_subjects )
<tr>
<td><input type="checkbox" value="$subject.id" name="selected_subject_ids"></td>
<td valign="top">$subject.code</td>
<td valign="top">$subject.name</td></tr>
#end

</table>
</div>
<br/><br/>
<table width="100%"><tr><td align="right">

$button.command("select_subjects").param("teacher_id=$!teacher.id, faculty_id=$!faculty.id").text("PROCEED NEXT &gt; TO SELECT GROUPS")
</td></tr></table>

</td></tr>

</table>

