<fieldset><legend class="legend">Add New Faculty</legend>
<table width="100%">
<tr><td style="width:100px"></td><td style="width:10px"></td><td style="width:500px"></td></tr>
<tr><td>Faculty Code</td><td>:</td><td><input class="texts" name="facultyCode"></td></tr>
<tr><td>Faculty Name</td><td>:</td><td><input class="texts" name="facultyName"></td></tr>
</table>
<table width="100%"><tr><td align="right">

<input class="linkbutton" type="button" value="Add Faculty" onclick="$('messageFaculty').innerHTML='<b>Adding Faculty... Please Wait..</b>';doDivAjaxCall3$formname('divListFaculties','addFaculty','institutionId=$institutionId');$('entryFaculty').style.visibility='hidden';">
<input class="linkbutton" type="button" value="Cancel" onclick="$('entryFaculty').style.visibility='hidden';">
</td></tr></table>
</fieldset>