<table width="100%" bgcolor="lightgrey"><tr><td>BLOCKS</td><td align="right"><a href="javascript:void()" onclick="doDivAjaxCall$formname('building_$building.id', 'close', '')">close</a></td></tr></table>
<table width="100%">
#foreach ( $block in $building.blocks )
<tr>
<td>
$block.code
<a href="javascript:void()" onclick="doDivAjaxCall$formname('block_$block.id','hostel_info','type=floor&block_id=$block.id')">
$block.name
</a>
</td>
</tr>

<tr><td colspan="2">
<div id="block_$block.id" name="block_$block.id"></div>
</td></tr>
#end
</table>
</td></tr></table>