<table>
<tr height="30px">
<td>
<a style="text-decoration:none" href="javascript:void()" onclick="doDivAjaxCall$formname('hostel_info', 'list_buildings', 'hostel_id=$block.building.hostel.id')">$block.building.hostel.name</a>
</td>
<td style="cursor:pointer" onclick="doDivAjaxCall$formname('hostel_info', 'list_buildings', 'hostel_id=$block.building.hostel.id')"><img src="../img/menu_left.gif"></td>
<td>
<a style="text-decoration:none" href="javascript:void()" onclick="doDivAjaxCall$formname('hostel_info','list_blocks','building_id=$block.building.id')">$block.building.name</a>
</td>
<td style="cursor:pointer" onclick="doDivAjaxCall$formname('hostel_info','list_blocks','building_id=$block.building.id')"><img src="../img/menu_left.gif"></td>
<td>
$block.name
</td>

</tr></table>

<table width="100%">

<tr height="25px" bgcolor="lightgrey">
<td style="width:100px; font-weight:bold">Floor Id</td>
<td style="font-weight:bold">Floor Name</td>
</tr>

#foreach ( $floor in $block.floors )
<tr>
<td height="25px">$floor.code</td>
<td>
<a href="javascript:void()" onclick="doDivAjaxCall$formname('hostel_info','list_units','floor_id=$floor.id')">
$floor.name
</a>
</td>
</tr>

#end
</table>
