<table width="700" align="center">
<tr><td style="font-family:arial;font-weight:bold;font-size:12pt">
List Of Withdraw Applications
</td></tr>
<tr><td>
<table width="100%">
	<tr height="50px" bgcolor="lightgrey">
		<td width="30px" align="center">			No		</td>
		<td>			Student Name		</td>
		<td>			Matric No</td>
		<td>			Applied Date		</td>
		<td width="100px">			Reason		</td>
		<td width="100px">			Other Reason		</td>
		<td width="100px">			Status Of Application		</td>
	</tr>
#foreach( $app in $apps )
	<tr>
		<td align="center">$velocityCount)		</td>
		<td>			$!app.student.biodata.name		</td>
		<td>			$!app.student.matricNo		</td>
		<td>			#if ($app.reqDate) $dateFormat.format($app.reqDate) #end		</td>
		<td>			$!app.reason		</td>
		<td>			$!app.otherR		</td>
		<td>			$!app.status		</td>
	</tr>
	<tr><td colspan="8">&nbsp;<hr/></td></tr>
#end
</table>


</td></tr></table>