<script>
$('newActivity').style.display="block";
</script>

<div style="background:#A5A8AA;color:#fff;font-family:Verdana, sans-serif;font-size:10pt;font-weight:bold;padding:4px">
ADD NEW ACTIVITY
</div>

<table><tr><td style="padding:5px">
<table>
<tr><td style="width:200px"></td><td style="width:600px"></td></tr>
<tr><td>Activity Name:</td><td><input class="texts" name="activityName"></td></tr>
<tr><td>Date Begin:</td><td>
$html.dateField.name("startDate").value("$!dateValue").style("width:120px").cssClass("texts")
</td></tr>
<tr><td>Date Begin:</td><td>
$html.dateField.name("endDate").value("$!dateValue").style("width:120px").cssClass("texts")
</td></tr>
<tr><td>Location:</td><td><input class="texts" name="locationRemark"></td></tr>
<tr><td valign="top">Activity Description:</td><td><textarea class="texts" style="height:100px" name="description"></textarea></td></tr>

<tr><td>Proposal Document:</td><td>
<input class="texts" type="file" id="proposalDocument" name="proposalDocument" style="width:200px">&nbsp;
<input class="linkbutton" type="button" value="Upload" onclick="uploadDocument('proposalDocument', 'divUploadDocument')">
</td></tr>

<tr><td></td><td>
<div id="divUploadDocument"></div>
</td></tr>

<tr><td></td><td>
<input type="hidden" id="proposalDocumentName" name="proposalDocumentName">
</td></tr>

<tr><td></td><td align="right">
<input class="linkbutton" type="button" value="Add Activity" onclick="doDivAjaxCall$formname('activities','addActivity','clubId=$club.id')">
<input class="linkbutton" type="button" value="Cancel" onclick="$('newActivity').style.display='none';">
</td></tr>

</table>
</td></tr></table>