<script>
var e = parent.document.getElementById('${divUploadStatusName}');
#if ( $filenames.size() > 0 )
	#foreach ( $f in $filenames )
		e.innerHTML = "$f";
	#end
#end

var e2 = parent.document.getElementById('proposalDocumentName');
e2.value = "$!serverFileName";
</script>