<table class="table table-hover">

	<tbody>
		<tr>
		<td  style="width:150px">Faculty:</td>
		<td  style="font-weight:bold">$!student.program.course.faculty.name</td>
		</tr>
		
		<tr>
		<td >Program:</td>
		<td  style="font-weight:bold">$student.program.name</td>
		</tr>
		
		<tr>
		<td >Center:</td>
		<td  style="font-weight:bold">$student.learningCenter.name</td>
		</tr>
		
		<tr>
		<td >Intake:</td>
		<td  style="font-weight:bold">$student.intake.name</td>
		</tr>
		
		#if ( $student_status )
		
		<tr>
		<td >Semester:</td>
		<td  style="font-weight:bold">$!student_status.period.name #if ( $student_status.period.parent )  ($student_status.period.parent.name) #end - $student_status.session.name</td>
		</tr>
		
		<tr>
		<td >Status:</td>
		<td  style="font-weight:bold">$student_status.type.name</td>
		</tr>
		
		
		#else
		<tr>
		<td >Semester:</td>
		<td  style="font-weight:bold"> Semester Status Not-Defined </td>
		</tr>
		#end
	
	</tbody>

</table>