<table>
<tr>
<td>Interval in seconds:</td>
<td>
<select id="garbage_interval" name="garbage_interval">
<option value="0" #if ( $garbage_interval == 0 ) selected #end>Not Specified</option>
<option value="10" #if ( $garbage_interval == 10 ) selected #end>Every 10 seconds</option>
<option value="30" #if ( $garbage_interval == 30 ) selected #end>Every 30 seconds</option>
<option value="60" #if ( $garbage_interval == 60 ) selected #end>Every 1 minute</option>
<option value="120" #if ( $garbage_interval == 120 ) selected #end>Every 2 minutes</option>
<option value="300" #if ( $garbage_interval == 300 ) selected #end>Every 5 minutes</option>
<option value="600" #if ( $garbage_interval == 600 ) selected #end>Every 10 minutes</option>
<option value="1800" #if ( $garbage_interval == 1800 ) selected #end>Every 30 minutes</option>
<option value="3600" #if ( $garbage_interval == 3600 ) selected #end>Every 1 hour</option>
</select>
</td>
</tr>
<tr>
<td>Memory Treshold Percentage:</td>
<td>
<select id="garbage_treshold" name="garbage_treshold">
<option value="0" #if ( $garbage_treshold == 0 ) selected #end>Not Specified</option>
<option value="2" #if ( $garbage_treshold == 2 ) selected #end>When memory below 2 percent</option>
<option value="3" #if ( $garbage_treshold == 3 ) selected #end>When memory below 3 percent</option>
<option value="5" #if ( $garbage_treshold == 5 ) selected #end>When memory below 5 percent</option>
<option value="10" #if ( $garbage_treshold == 10 ) selected #end>When memory below 10 percent</option>
<option value="20" #if ( $garbage_treshold == 20 ) selected #end>When memory below 20 percent</option>
<option value="30" #if ( $garbage_treshold == 30 ) selected #end>When memory below 30 percent</option>
<option value="40" #if ( $garbage_treshold == 40 ) selected #end>When memory below 40 percent</option>
<option value="50" #if ( $garbage_treshold == 50 ) selected #end>When memory below 50 percent</option>
</select>
</td>
</tr>
</table>