<select style="width:400px" id="program_id" name="program_id" onchange="doDivAjaxChainCall$formname('div_intakes','list_intakes','','div_sessions','list_sessions','')">
<option value=""> - </option>
#foreach( $p in $programs )
<option value="$p.id">$p.code $p.name</option>
#end
</select>