<style>
.shadow { -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
.gradient { background: -moz-linear-gradient(top, #E1E1E1 0%, #B4B4B4 100%); }
.text {border-bottom:1px solid #C3C3C3; border-top:none; border-left:none; border-right:1px solid #C3C3C3; height:30px; width:100%}
</style>


<table width="900px"><tr><td>

<fieldset style="background-color:#FFF;border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">

<table width="100%">
<tr><td>

<table width="100%">
<tr height="30px"><td>Program:</td><td><div id="div_programs" name="div_programs">#parse("apps/util/student_list/list_programs.vm")</div></td></tr>
<tr height="30px"><td>Intake:</td><td><div id="div_intakes" name="div_intakes">#parse("apps/util/student_list/list_intakes.vm")</div></td></tr>
<tr height="30px"><td>Session:</td><td><div id="div_sessions" name="div_sessions">#parse("apps/util/student_list/list_sessions.vm")</div></td></tr>

<tr height="30px"><td>Status:</td><td><div id="div_statuses" name="div_statuses">#parse("apps/util/student_list/list_statuses.vm")</div></td></tr>

</table>

</td><td>


<input class="gradient" type="button" style="height:40px;font-weight:bold" value="LIST STUDENTS"
onclick="if ( $('program_id').value != '' ) {  doDivAjaxCall$formname('div_result','list_students',''); } else { if ( !confirm('Are you sure to list students from all Programs?\n This may result with a very large data!') ) { return; } else { doDivAjaxCall$formname('div_result','list_students',''); } }">

</td></tr></table>

</fieldset>

<br><br>

<div id="div_result" name="div_result"></div>


</td></tr></table>