<table width="80%" cellpadding="1" cellspacing="2">
<tr><td  style="width:100px"></td><td style="width:10px"></td><td></td></tr>
<tr><td >Name</td><td>:</td><td><input class="texts" type="text" name="findName"></td></tr>
<tr><td >Status</td><td>:</td><td>
<select class="texts" name="findStatus">
<option value=""></option>
<option value="pending">Pending</option>
<option value="approved">Approved</option>
<option value="rejected">Rejected</option>
</select>
</td></tr>
</table>