<link rel="stylesheet" href="../admission/style.css" type="text/css" media="screen" />

<div style="font-family:Verdana, sans-serif;font-size:12pt;margin-bottom:0.5cm">
<b>Account Statement Bottom Text:</b>
</div>
<div style="text-align:right">
<input type="button" class="linkbutton" value="Save" onclick="saveContent()">
</div>

<script type="text/javascript">
var sBasePath = document.location.pathname.substring(0,document.location.pathname.lastIndexOf('_samples')) ;
var oFCKeditor = new FCKeditor('message') ;
oFCKeditor.BasePath = '../fck/' ;
oFCKeditor.Height	= 800 ;
oFCKeditor.Value	= '' ;
oFCKeditor.ToolbarSet = 'Simple';
oFCKeditor.Create() ;
</script>

<iframe id="saveTarget" name="saveTarget" frameborder="0" style="visibility:hidden"></iframe>

<textarea name="content" style="visibility:hidden">$!content</textarea>

<script>
document.${formname}.message.value = document.${formname}.content.value;
function saveContent() {
	document.${formname}.target = "saveTarget";
	document.${formname}.method = "post";
	document.${formname}.action = "?command=saveContent";
	document.${formname}.submit();
}
</script>