<table width="700" align="center">
<tr><td style="font-weight:bold;font-size:14pt">
Examination CGPA Calculation
</td></tr>
<tr><td>

<fieldset style="background-color:lightgrey; border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">
<table width="100%">
<tr><td>Program:</td>
<td>
<select name="program_id" style="width:300px" onchange="doAjaxCall$formName('list_sessions','')">
<option value=""></option>
#foreach( $p in $programs )
<option value="$p.id" #if ( $p.id == $program.id ) selected #end>$p.code $p.name</option>
#end
</select>
</td></tr>
#if ( $sessions )
<tr><td>Session:</td>
<td>
<select name="session_id" style="width:300px" onchange="doDivAjaxCall$formName('list_students', 'list_students', '')">
<option value=""></option>
#foreach ( $s in $sessions )
<option value="$s.id" #if ( $s.id == $intake.id ) selected #end>$s.name</option>
#end
</select>
<input type="button" value="Get Students.." onclick="doDivAjaxCall$formName('list_students', 'list_students', '')">
<input type="button" value="Calc CGPA.." onclick="if (!confirm('Calculate CGPA?') ) return; doDivAjaxCall$formName('list_students', 'calculate_cgpa_all', '')">
</td>
</tr>
#end
</table>
</fieldset>
</td></tr>

<tr><td>
<fieldset style="border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">
<div id="list_students" name="list_students" style="height: 250px; width: 100%; overflow: auto;">
</div>
</fieldset>
</td></tr>

<tr><td>
<fieldset style="border-radius: 3px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:7px;">
<div id="cgpa_student" name="cgpa_student" style="height: 600px; width: 100%; overflow: auto;">
</div>
</fieldset>
</td></tr>

</table>