#**
<table width="100%"><tr>
<td style="width:120px">
<img src="../logo/logocybernetics100.png" border="0"/>
</td>
<td valign="top">
<span style="font-family:times;font-size:45pt;font-weight:bold;">CYBERNETICS</span><br/>
<span style="font-family:times;font-size:14pt;font-weight:bold;">INTERNATIONAL COLLEGE OF TECHNOLOGY</span><br/>
<span style="font-family:times;font-size:13pt;font-weight:bold;">(KOLEJ TEKNOLOGI ANTARABANGSA CYBERNETICS)</span><br/>
</td>
</tr></table>
**#


<table width="100%"><tr>
<td style="width:120px">
##<img src="../logo/logocybernetics100.png" border="0"/>
</td>
<td valign="top">
<span style="font-family:times;font-size:45pt;font-weight:bold;"></span><br/>
<span style="font-family:times;font-size:14pt;font-weight:bold;"></span><br/>
</td>
</tr></table>