
<td class="record_header" style="width:250px;font-weight:bold">Issue</td>
<td class="record_header" style="width:180px;font-weight:bold">Category</td>
<td class="record_header" style="width:200px;font-weight:bold">Officer</td>
<td class="record_header" style="width:100px;font-weight:bold">Date</td>
<td class="record_header" style="width:100px;font-weight:bold">Status</td>
<td class="record_header" style="width:100px;font-weight:bold">Close Date</td>




