
<td class="record_header" style="width:120px;font-weight:bold">Owner Id</td>
<td class="record_header" style="width:250px;font-weight:bold">Owner Name</td>
<td class="record_header" style="width:150px;font-weight:bold">Owner Type</td>
<td class="record_header" style="width:300px;font-weight:bold">Car Detail</td>
<td class="record_header" style="width:100px;font-weight:bold">Plate No</td>




